/*****************************************************************************
 * SV-CART CSS
 * ===========================================================================
 * 版权所有  上海实玮网络科技有限公司，并保留所有权利。
 * 网站地址: http://www.seevia.cn
 * ---------------------------------------------------------------------------
 * 这不是一个自由软件！您只能在不用于商业目的的前提下对程序代码进行修改和使用；
 * 不允许对程序代码以任何形式任何目的的再发布。
 * ===========================================================================
 * $开发: 上海实玮$
 * $Id: style.css 965 2009-04-24 04:40:00Z zhangshisong $
*****************************************************************************/
body{background:#fff;}

/* Colors */
a{
	text-decoration:none;color:#0167CC;
}
a:hover{
	color:#F73301;
}
.font_color_1{
	color:#0167CB;
}
.font_red{
	color:#FF3200;
}
.font_white{
	color:#ffffff;
}
.font_green{
	color:#009700;
}
.font_yellow{
	color:#FF6600;
}
.navs li a{
	color:#000;
}
.member{
	color:#AAAAAA;
}
.header .tools .cart a:hover{
	color:#0167CB;
}

/* Borders */
fieldset{
	border:1px solid #DADDEC;
}
h4{
	border-bottom:1px dashed #A0C0FF;
}

#footer{
	border-top:2px solid #FE71A5;
}
.cont{
	border:1px solid #FECCFF;
}

.tips{
	border:1px solid #A0C0FF;
}
.tips a{
	color:#0000ff;
}

.login .banner img{
	border:1px solid #FFCDFF;
}
.profile dl{
	border-bottom:1px dashed #DADDEC;
}
.profile dl.submitform{
	border-bottom:none;
}
.my_order .table_row{
	border-bottom:1px dashed #DADDEC;
}
.my_order .order_handle{
	border:1px solid #DADDEC;background:#F0F0FC;
}
#pager p span input{
	border:1px solid #7F9DB9;
}


/*Background*/
h2{
	border-bottom:1px solid #C6CDD5;
}
h3{
	border-bottom:1px solid #FECCFF;
}
h3 span{
	background:url('../img/pink/title.gif') 0 0 no-repeat;
}
h3 .more{
	background:url('../img/pink/title.gif') 100% -44px no-repeat;
}

.header .search {
	background:#FF70A5;
}
.header .navs li a,.header .navs .home a{
	background:#FFDFF0;
}
.header .navs li a:hover,.header .navs .home a:hover{
	background:#FF70A5;color:#fff;
}
ul#categories ul {
	background:#FF70A5;
}
/*当鼠标在子菜单和父菜单上时，父菜单的样式*/
ul#categories li.over a,ul#categories li:hover a{
	background:#FF70A5;color:#ffffff;font-weight:bold;
}

#footer{
	background:#fff;
}

.cont .left_up{
	background:url('../img/pink/title.gif') 0 -14px no-repeat;
}
.cont .right_up{
	background:url('../img/pink/title.gif') 100% -14px no-repeat;
}
.cont .left_down{
	background:url('../img/pink/title.gif') 0 -40px no-repeat;
}
.cont .right_down{
	background:url('../img/pink/title.gif') 100% -40px no-repeat;
}
.list li{
	background:url('../img/pink/listicon.gif') 0 5px no-repeat;
}
.list li.squareico{
	background:url('../img/pink/square.gif') 0 5px no-repeat;
}
.list .more{
	background:none;
}

/* Button */
.button{
	border:1px solid #9EB0BC;
}
.button a{
	border:1px solid #FFFFFF;background:#B6C8D4 url('../img/pink/search.gif') 0 0 repeat-x;color:#000;
}

.submit{
	background:url('../img/pink/submit.gif') 100% -25px no-repeat;
}
.submit a{
	color:#fff;background:url('../img/pink/submit.gif') 0 0 no-repeat;
}

.addtocart{
	color:#fff;background:url('../img/pink/addcart.gif') 100% -36px no-repeat;
}
.addtocart a{
	background:url('../img/pink/addcart.gif') 0 0 no-repeat;
}
.table_data{
	background:#FECCFF;
}
.table_data .rows{background:#ffffff;}