/*=========================header==========================*/
#container{
  width: 951px; margin: 0 auto; overflow:hidden;
}
#header{
	background:#fff;width:950px;margin:0 auto;border-bottom:5px solid #40A564;margin-bottom:10px;min-height:74px;height:100%;
}

#footer{
	width:950px;height:99px;padding-top:15px;background:#fff;color:#B4B4B4;margin:0 auto;border-top:5px solid #4DAB6E;margin-top:40px;clear:both;
}
#footer p{
	text-align:center;
}
#footer .link{
	line-height:30px;color:#004B1C;
}
#footer .link a{
	margin:8px;color:#004B1C;
}
#footer .Power{
	line-height:20px;
}
#footer .Power .number{
	margin-left:10px;
}
#footer .copyRight font{
	margin-right:4px;
}
#Left{
	float:left;margin-left:8px;display:inline;
}
#Right{
	margin-right:7px;float:right;width:741px;display:inline;
}
.submit_btn input.submit{background:url(../img/cencle.gif) no-repeat;border:0;width:63px;height:21px;cursor:pointer;}
.submit_btn input.reset{background:url(../img/btn_reset.gif) no-repeat;border:0;width:63px;height:21px;cursor:pointer;}

/*buttons*/
.gray_btn a{display:block;background:url(../img/find.gif) 100% -20px no-repeat;padding-right:2px;cursor:pointer;}
.gray_btn a span{display:block;background:url(../img/find.gif) 0 0 no-repeat;padding:0 3px 0 5px;height:20px;line-height:20px;}

.not{text-align:center;font-size:14px;color:#008833;}
.not strong{font-weight:bold}
.not img{vertical-align:middle;margin:-5px 15px 0 0;}