/*==================Header====================*/
#logo{
	margin:10px 0 0 4px;width: auto;float: left;display: inline;
}
.header_right {
	float:left;width:752px;position:relative;
}
.member{
	background:#fff;margin:15px 0 0 0;float:left;padding-left:15px;
}
.member a.name{font-size:14px;text-decoration:underline;}
.member a.name:hover{
	text-decoration:underline;
}
.member font{
	margin:0 5px 0 2px;font-size:12px;
}
#search {
	margin:0 0 0 -100px;padding:14px 7px 0 0;display:inline;float:right;text-align:right;
}
* html #search{padding-top:12px;}
#search .enter_text{
	width:100px;padding:0 1px;
}
#search img.go{margin-top:-3px;position:relative;vertical-align:middle;}
#search span{
	margin:0 10px;
}
#search .search_btn{
	vertical-align:middle;
}
#search .search_btn img{
	vertical-align:middle;padding-bottom:5px;
}
#search a#adv_search{
	margin-left:-2px;
}
#search a:hover{
	text-decoration:none;
}
#search .cart{
	padding-top:13px;
}
.tools{
	height:100%;overflow:hidden;margin-left:10px;position:relative;
}
.header_navs{
	width:65%;padding:0 0 2px 5px;position:absolute;bottom:0;left:0;
}
.header_navs a{margin:0;font-weight:bold;}
.header_navs span.nav{
	margin:0 10px;
}
/*================== Left ====================*/
.category_box{
	height:100%;
}
.category_box .box{height:100%;}
.category_box h3{
	height:29px;line-height:29px;white-space:nowrap;padding:0 0 0 20px;font-size:14px;font-weight:bold;position:relative;
}
.category_box h3 .l{
	width:5px;height:29px;left:0;top:0;position:absolute;
}
.category_box h3 .r{
	width:5px;height:29px;right:0;top:0;position:absolute;
}
.category{
	height:auto;position:relative;margin:0;padding:10px 0 5px 0;
}
.category_box .Help ul li img{
	margin:0 10px 3px 0;
}
.category_box .Help ul li{
	padding-left:30px;height:20px;line-height:20px;
}
.brands li{
	text-align:center;
}
.brands li.text{
	text-align:left;padding:5px 0 0 40px;
}
.brand_box{
	margin-top:5px;overflow:hidden;
}
.toplist ul{overflow:hidden;padding:4px 5px 4px 15px}
* html .toplist ul{height:100%;}
.toplist li{
	text-align:left;float:left;width:85%;
}
.toplist li.number{
	width:12%;
}
.homeorderlist a:hover,.toplist a:hover{text-decoration:underline;}
.homeorderlist ul{overflow:hidden;padding:4px 5px 4px 15px;}
* html .homeorderlist ul{height:100%;}
.homeorderlist li{
	text-align:left;
}
.homeorderlist li.query{
	padding-top:5px;
}
/*================== Home Flash ====================*/
#Flash{
/*	border:1px solid #909592;
	width:741px;
	*/
}
/*================== Home item_list ====================*/
#container #Item_List{
	width: 739px;overflow:auto;padding-bottom:15px;
}
#Item_List ul li{
	width:132px;
}
#Item_List ul{
	float:none;padding-left:5px;*padding-left:2px;overflow:hidden;
}
* html #Item_List ul{height:100%;}
#Item_List ul.home-products{
	 margin-top:10px;
}
#Item_List ul li .pic{
	text-align:center;padding:6px 0 0 0;
}
#Item_List ul li .info{
	text-align:center;padding:3px 0 0 0;
}
#Item_List ul li .info .name{
	text-align:center;margin:5px 0 0 0;display:block;white-space:nowrap;
}
#Item_List ul li .info .Price{
	display:block;margin-top:2px;
}
#Item_List ul li .info .Mart_Price{
	text-decoration:line-through;
}
#Item_List ul li .info .stow{
	display:block;margin-top:2px;
}
#Item_List ul li .info .stow a{
	margin:0 5px;
}
#Item_List ul li .info .cart a{
	display:block;width:98px;height:20px;text-align:center;line-height:20px;margin:3px auto 0;
}
#Item_List ul li{
	margin:0 14.8px 5px 0;_margin:0 15px 5px 0;float:left;display:inline;overflow:hidden;
}
#Item_List li.no_item{width:auto;float:none;}
#Item_List li.no_item p{font-size:14px;}
/*================== Home News ====================*/
#News{
  margin:23px 0 0 0; width:741px;
}
#News p.text{
	line-height:25px;height:25px;
}
#newscoll{position:relative;width:740px;height:20px;overflow:hidden;padding:2px 0 0;}
#newscoll_1,#newscoll_2{position:absolute;height:auto;}
#newscoll_1{top:0;width: 400px; right: 78px;}
#newscoll_2{top:0;width: 400px; left: 322px;}
/*  ==================== advaearch/login ====================  */
#advanced_search,#User_Login{width:240px;float:left;}
#advanced_search .title,#User_Login .title,#language .title{height:23px;margin-right:30px;}
#advanced_search .title b,#User_Login .title b,#language .title b{margin-left:15px;line-height:23px;}
#User_Login .keywords{
	margin:0;height:100%;overflow:hidden;
}
#advanced_search .keywords{
	margin:0;height:100%;overflow:hidden;*overflow:inherit;
}
#advanced_search .keywords dl,#User_Login .keywords dl{
	margin:10px 0 0 0;float:none;height:100%;overflow:hidden;
}
#advanced_search .keywords .go,#User_Login .keywords .go{
	margin:18px 0 20px 0;float:left;width:100%;text-align:right;
}
#User_Login .keywords .go img{
	margin-right:18px;
}
#advanced_search .keywords .go a{
	margin-right:18px;
}
#advanced_search .keywords dl dt{
	width:28%;text-align:right;margin:5px 0 0 0;line-height:normal;padding-right:5px;
}
#advanced_search select{width:151px;}
#User_Login .keywords dl dt{
	width:30%;text-align:right;margin:5px 0 0 0;line-height:normal;white-space:nowrap;padding-right:5px;
}
#advanced_search .keywords dl dd .enter,#User_Login .keywords dl dd .enter{
	width:145px;padding:2px;
}
#advanced_search .keywords dl dd .selects,#User_Login .keywords dl dd .selects{
	width:120px;padding:2px;
}
#advanced_search .keywords dl dd .Price,#User_Login .keywords dl dd .Price{
	width:65px;padding:2px;vertical-align:middle;
}
#advanced_search .keywords dl dd span,#User_Login .keywords dl dd span{
	margin:0 2px;
}
#User_Login .keywords dl.captcha{height:22px;overflow:inherit;}
.keywords dl.captcha dt{*padding-top:3px;}
.keywords dl.captcha input{margin-right:3px;position:relative;}
#advanced_search .keywords dl .passbox img,#User_Login .keywords dl .passbox img{
	margin-top:-1px;vertical-align:middle;position:relative;height:18px;*height:19px;*margin-top:0;
}
#advanced_search .keywords dl .logon{
	margin-left:55px;display:inline;
}
#User_Login .keywords dl .logon{
	margin-left:30px;display:inline;
}
#User_Login .keywords dl .logon a{
	display:block;width:65px;height:30px;text-align:center;line-height:30px;padding-left:3px;*padding:0;margin:0;
}
#advanced_search .keywords dl .forget_pass{
	margin:10px 0 0 5px;display:inline;width:60px;white-space:nowrap;
}
#User_Login .keywords dl .forget_pass{
	margin:12px 0 0 0;*margin:12px 0 0 2px;display:inline;width:125px;white-space:nowrap;
}
#panel_login_message{padding:2px 0 0 54px;line-height:normal;}
#advanced_search .keywords .btn,#User_Login .keywords .btn{
	margin:10px 0 10px 0;*margin:0 0 10px 0;
}
/*  ==================== catedory_products ====================  */
#Item_ListBox{
	width:741px;overflow:hidden;
}
.View_item{
	height:24px;padding-top:8px;position:relative;
}
.View_item .view{
	margin:0 10px 0 18px;
}
.View_item img{
	margin-bottom:-2px;
}
.View_item img.view-left{
	margin-bottom:0;position:absolute;top:-1px;left:-1px;
}
.View_item img.view-right{
	margin-bottom:0;position:absolute;top:-1px;right:-1px;*right:-2px;
}
#Right .View_item .number{margin:0 2px 0 111px;}
.View_item .number_2{margin:0 2px 0 0;}
.View_item .View_img{margin:0 1px;}
.View_item .select_view select{
	height:20px;width:165px;
}
.View_item .Mode{
	margin:0 0 0 75px;
}
.View_item .Mode_img{
	margin:0 2px 0 0;
}
.View_item .select_view{
	margin:0 0 0 5px;
}
#Item_ListBox .Title_Item{
	text-align:right;height:23px;padding-top:2px;margin:0 1px;
}
#Item_ListBox .Title_Item .select_Territory{
	margin-right:50px;
}
#Item_ListBox .Title_Item .Price{
	margin-right:62px;
}
#Item_ListBox .Title_Item .handel{
	margin-right:40px;
}
#Item_ListBox .Title_Item .select_Territory select{
	height:17px;width:75px;font-size:10px;vertical-align:bottom !important;vertical-align:middle;
}
#Item_ListBox ul{
	margin:20px 10px 20px 20px;
}
#Item_ListBox ul li{
	height:145px;
	margin-bottom:20px;
}
#Item_ListBox ul li .pic img{
	width:108px;
}
#Item_ListBox ul li .pic{
	float:left;
	margin:8px 0 0 32px;
	display:inline;
}
#Item_ListBox ul li .right{
	float:left;
	margin:8px 0 0 0;
	display:inline;
}
#Item_ListBox ul li .right .item_info{
	margin:15px 0 0 40px;height:100%;overflow:hidden;
}
#Item_ListBox ul li .right .brand-name{
	height:100%;overflow:hidden;
}
.right .item_info .name{
	font-weight:bold;float:left;width:200px;margin-right:10px;
}
.right .item_info .category-name{padding-top:4px;}
.right .item_info .marketprice{
	width:175px;text-align:center;float:left;text-decoration:line-through;
}
.right .item_info .buy{
	width:auto;float:right;padding-right:20px;
}
.right .item_info .buy a{
	height:24px;float:left;line-height:24px;margin-left:10px;
}
.item_info .buy a span{display:block;padding:0 15px;}
.right .item_info .buy a.addtocart{padding-left:20px;}
.right .item_info .Price{
	margin:0 0 0 0px;width:132px;text-align:center;float:left;
}
.right .item_info .Territory{
	margin:0 0 0 80px;
}
#Item_ListBox ul li .right .btn_list{
	margin:45px 0 0 30px;
}
#Item_ListBox ul li .right .btn_list_a{
	margin:45px 0 0 30px;
}
/*  ==================== ur_here ====================  */
#ur_here{float:left;width:99%;}
/*  ==================== pager ====================  */
#pager{
	height:30px;line-height:30px;width:741px;
}
#pager p{
	float:right;padding-top:5px;
}
#pager p img{
	margin-bottom:-3px;_margin-bottom:-2px;margin-left:5px;margin-right:5px;
}
#pager p a{
	font-size:13px;margin:0 1px;
}
#pager p span input{
	width:25px;text-align:center;
}
/*========================= Brands_list ==========================*/
#globalBrand{
	width:739px;margin-top:2px;overflow:hidden;
}
#globalBrand h1{
	height:25px;line-height:25px;padding-left:13px;font-weight:bold;font-size:14px;
}
#globalBrand .Brand_list{
	padding:10px 13px 20px;
}
.Brand_list p{
	margin:10px 0;
}
.Brand_list p span{
	float:left;
	width:177px;
	height:20px;
}
.Brand_list p span a{
	margin-left:5px;
}
#Right h1.global_title {
	padding:5px 0 0 20px;padding-top:10px;height:28px;margin-top:5px;	font-size:14px;font-weight:bold;
}
#Right h1.global_title span{
	margin-left:30px;
}
/*  ==================== products ====================  */
#globalMain{
	width:914px;margin-left:20px;overflow:hidden;
}
#globalMain #main_left{
	float:left;
}
#globalMain #main_left h1{
	font-size:24px;text-align:center;font-weight:bold;
}
#main_left .pic{
	margin-top:20px;padding:0 10px 8px 0;
}
#main_left .picc{
	margin-top:17px;padding:0 10px 8px 0;
}
#show_pic_original{cursor:pointer;}
#main_left .pic img{
	width:441px;height:391px;
}
#main_left .pic_select img{
	width:105px;
}
#main_left .pic_select{float:left;width:105px;padding-right:7px;*padding-right:5px;padding-top:4px;}

#globalMain #main_right{
	float:right;width:445px;
}
#globalMain #main_right h1{
	height:18px;padding:9px 0;font-size:12px;font-weight:normal;margin-left:10px;
}
#main_right h1 span.l{height:36px;width:10px;left:-10px;}
.product_l{margin-top:4px;}
.product_r{margin-top:5px;}
#main_right h1 img{
	margin:0 10px 0 15px;
}
#main_right #item_infos{
	width:443px;margin-top:5px;overflow:hidden;
}
#item_infos .item_box{
	height:100%;overflow:hidden;
}
.item_box .left{
	width:120px;margin-top:50px;float:left;
}
.item_box .left span{
	display:block;text-align:center;margin-left:5px;
}
.item_box .left .pic img{
	width:100px;
}
.item_box .left .big_pic{
	margin-top:20px;
}
.item_box ul{
	float:left;margin:20px 10px 20px 5px;width:60%;
}
.item_box ul li{
	margin:6px 0;vertical-align:middle;height:100%;overflow:hidden;width:100%;
}
.item_box ul dd.l{width:35%;}
.item_box ul dd.number{padding-top:3px;*padding-top:4px;}
.item_box ul li.btn_list{
	margin-top:20px;vertical-align:middle;
}
.item_box ul li.btn_list a,.item_box ul li.btn_list a:hover{
	margin-right:10px;float:left;white-space:nowrap;
}

.item_box ul li.btn_list a.addfav{width:auto}
.item_box ul li.btn_list a.addcart{padding-left:20px;}
.item_box ul li.btn_list a.addcart:hover{padding-left:20px;margin-right:10px;}
.item_box ul li .price{font-size:22px;}
.item_box h2{
	font-size:13px;font-weight:bold;padding-left:0px;margin-top:10px;text-align:center;
}
#item_info h2{
	font-size:14px;font-weight:bold;padding-left:18px;margin-top:10px;
}
#item_info .infos{
	margin:10px;line-height:22px;
}
#item_info .infos li{
	list-style-type:disc;list-style-position:inside;line-height:18px;
}
#item_info .infos ol li{
	list-style-type:decimal;
}
#main_right #Correlation_article .item_title{
	font-size:14px;font-weight:bold;
}
#Correlation_article ul{
	margin:0 32px;margin-bottom:10px;list-style:square;
}
#Correlation_article ul li{
	margin:1px 0;
}
#Correlation_article ul li img{
	margin-right:10px;
}
#Edit_box a#comments{
	cursor:pointer;position:absolute;height:20px;right:6px;top:5px;white-space:nowrap;text-indent:0;text-align:center;
}
#Edit_box a#comments span{
	padding:0 5px;display:block;line-height:20px;text-decoration:underline;
}
.comment_title{margin:0 9px;height:31px;}
.comment_title .t{padding:8px 0 0 12px;}
.comment_title .close{margin:6px 9px 0 0;width:20px;height:20px;cursor:pointer;}
.comment_title .close:hover{margin:6px 9px 0 0;width:20px;height:20px;}
.comment_title .l{margin-left:-9px;position:absolute;width:9px;height:31px;}
.comment_title .r{position:absolute;right:0;width:9px;height:31px;}
/*===================我要评论框======================*/
#comment .box,#article_info{
	padding-bottom:12px;
}
#comment{
	width:600px;margin-top:0;
}
.key_list dl input{padding-top:1px;padding-bottom:1px;}
.key_list .comment_box{
	width:590px;float:none;
}
#comment .key_list{
	height:100%;overflow:hidden;
}
.pingjiadj input{
	margin-right:4px;vertical-align:middle;
}
.pingjiadj img{
	margin-right:7px;vertical-align:middle;
}
.user_comment dd,.user_comment dt{float:left;}
.user_comment dl{height:100%;overflow:hidden;margin:10px 0 10px 27px;}
.user_comment dd{width:25%;padding-top:2px;}
.user_comment p.grade{
	vertical-align:middle;
}
.key_list .comment_box p{
	text-indent:0px;font-weight:normal;line-height:normal;
}
.comment_box p.textarea_box textarea{
	width:330px;height:130px;padding:2px;
}
.comment_box p.textarea_box{
	margin-top:10px;padding-left:27px;
}
.comment_box p.btn_liss{
	margin:10px 0;
}
.commetn_btn{padding-left:168px;margin-top:10px;}
.btn_liss .reset{
	width:99px;height:31px;line-height:31px;text-align:center;display:block;float:left;
}
/*  ==================== carts ====================  */

#Right #Products{
	margin-top:5px;
}
#Products .ur_here{
	height:20px;line-height:20px;
}
#Products .Titles{
	height:15px;width:auto;
}
#Products .Title_list{
	height:32px;font-size:13px;font-weight:bold;
}
#Products .Title_list .Item_title{
	width:250px;float:left;text-align:left;padding-left:106px;
}
#Products .Title_list .Price_title{
	width:135px;float:left;
}
#Products .Title_list .Price_title pre{
	font-size:14px;
}
#Products .Title_list .Number_title{
	width:62px;float:left;text-align:center;
}
#Products .Title_list .Save_title{
	width:90px;float:left;text-align:center;
}
#Products .Title_list .Sum_title{
	width:97px;float:left;text-align:center;
}
#Products #Item_box{
	height:100%;overflow:hidden;padding-bottom:0;
}
#Item_box .Item_info{
	width:356px;float:left;
}
#Item_box .Item_info .pic img{
	height:72px;width:72px;margin:8px 0 0 8px;
}
#Item_box .Item_info .pic{
	float:left;
}
#Item_box .Item_info .info{
	float:left;margin:8px 0 0 24px;width:68%;
}
#Item_box .Item_info .info span{
	display:block;margin-top:8px;
}
#Item_box .Item_Price{
	float:left;width:135px;margin-top:8px;
}
#Item_box .Item_Price span{
	display:block;margin:8px 0 0 5px;
}
#Item_box .Item_Price .Price{
	line-height:15px;font-weight:bold;margin-top:3px;
}
#Item_box .Item_Price .save{
	font-weight:bold;margin-top:3px;
}
#Item_box .Item_Price .Products_Price{
	font-weight:bold;
}
#Item_box .Number_select{
	float:left;width:62px;padding:18px 0;
}
#Item_box .Number_select span{
	display:block;text-align:center;
}
#Item_box .Number_select .Number{
	margin:8px 0;
}
#Item_box .Number_select .Number input{
	width:60px;text-align:center;
}
#Item_box .Saves{
	float:left;width:90px;
}
#Item_box .Saves .Number{
	text-align:center;display:block;margin:34px 0;
}
#Item_box .Sums{
	float:left;width:97px;
}
#Item_box .Sums .Number{
	text-align:center;display:block;margin:18px 0;font-weight:bold;
}
#Item_box .btn_list{
	float:left;width:70px;margin:18px 0 12px;
}
.btn_list_a a{
	display:block;width:49px;height:20px;text-align:center;line-height:20px;margin:0 auto;
}
.btn_list_a a:hover{
	display:block;width:49px;height:20px;text-align:center;line-height:20px;margin:0 auto;
}
.btn_list_a a.lenth{width:68px;}
.btn_list_a a.lenth:hover{width:68px;}
#Products #balance{
	height:58px;padding-top:15px;
}
#Products #balance span{
	font-weight:bold;margin:0 5px;font-size:14px;
}
#Item_List .info .Add_toCart{
	margin-top:10px;
}
#buyshop_btn{
	margin:20px 0;text-align:center;height:100%;overflow:hidden;padding-right:38px;
}
#buyshop_btn p{
	padding-left:150px;
}
#buyshop_btn span{
	margin:0 20px;text-align:center;
}
#buyshop_btn a{
	float:left;height:24px;text-align:center;margin:0 0;font-weight:bold;padding-right:5px;
}
#buyshop_btn a span{
	display:block;margin:0;padding:6px 10px 4px 15px;white-space:nowrap;
}
#buyshop_btn a.last-shop{
	text-align:right;padding-left:25px;text-decoration:underline;
}
#buyshop_btn a.checkout{
	float:right;
}
.outstock dl{height:100%;float:none;overflow:hidden;margin:10px 0;}
.outstock dd{width:25%;padding-left:40px;}
.outstock dt{width:65%;padding:0 0 0 10px;}
.outstock dt input{width:50%;}
/*========================= articles ==========================*/
#all_article{
	overflow:hidden;height:100%;
}
#all_article #left_article{
	float:left;width:49.4%;
}
#all_article #right_article{
	float:right;width:50%;
}
.information{margin-bottom:5px;}
.information h1 img,.activity_column h1 img{
	margin:6px 0 0 15px;
}
.information h1 .more,.activity_column h1 .more{
	position:absolute;right:-22px;top:10px;width: 46px;font-size:14px;
}
.information .infos h2{
	font-size:13px;font-weight:bold;display:block;margin:21px 0;text-align:center;padding:0 10px;
}
.information .infos{
	padding-bottom:30px;margin-top:2px;
}
.information .infos .txt{
	margin:18px 20px 0;text-indent:2em;line-height:22px;
}
.activity_column{margin-bottom:5px;}
.activity_column h1{margin-left:10px;}
.activity_column h1 span.l{
	height:36px;width:10px;left:-10px;
}
.activity_column .main{
	margin-top:2px;position:relative;padding-top:5px;
}
.activity_column .main .option_nav{
	position:absolute;top:-46px !important;top:-45px;height:35px;left:-13px;z-index:10;
}
.main .option_nav li{
	float:left;	height:35px;width:90px;text-align:center;cursor:pointer;
}
.activity_column .main .subject{
	overflow:hidden;height:100%;
}
.main sub{
	text-align:center;width:354px;padding:3px 8px;
}
.main .subject .pic{
	float:left;margin:5px 10px 2px;display:inline;
}
.main .subject .pic img{
	width:110px;height:89px;
}
.main .subject ul{
	margin:0 5px 0 20px;
}
.main .subject ul li,.main ul.hot_attention li{
	margin:5px 0 10px;
}
.main .subject ul li img,ul.hot_attention li img{
	margin-right:4px;
}
.main ul.hot_attention,.infos ul.hot_attention{
	float:none;
	margin:20px 5px 0 10px;
}
.activity_column .main .comment_list{
	margin:5px 15px 20px;
}
.infos dl.artic_head{
	clear:both;float:none;height:100%;overflow:hidden;margin-bottom:10px;
}
.infos dl.artic_head dt{
	width:225px;margin-right:20px;font-weight:bold;
}
.infos dl.artic_head dd{
	padding-left:24px;font-weight:bold;
}
.main .comment_list p,.infos .comment_list p{
	line-height:22px;overflow:hidden;_height:100%;
}
.main .comment_list p span,.infos .comment_list p span{
	float:left;overflow:hidden;
}
.main .comment_list p span.title{
	width:225px;margin-right:20px;
}
.infos .comment_list p span.title{
	margin-right:10px;width:255px;
}
.infos .comment_list{
	margin:10px 15px 0;
}
.infos ul.hot_attention li{
	margin:5px 0 8px;
}
.infos ul.hot_attention{
	margin-left:25px;
}
p.no_article{font-size:14px;}
.tags{
	padding:0 18px;
}
.tags a{text-decoration:underline;}
/*========================= carts checkout ==========================*/
#globalBalance{
	width:894px;margin:0 auto;
}
#globalBalance .buy_title{
	height:33px;line-height:33px;padding-left:13px;font-weight:bold;
}
#globalBalance .list_title{
	height:24px;line-height:24px;margin:0 3px;padding-left:11px;
}
#globalBalance .list_title .pic img{
	height:108px;width:108px;
}
#globalBalance .list_title .pic{
	margin-top:0;
}
#globalBalance .list_title span{
	float:left;
}
.list_title span.name{
	width:250px;
}
.list_title span.item_name{
	width:132px;
	padding-left:8px;
}
.list_title span.attribute{
	width:155px;
}
.list_title span.martprice{
	width:133px;
}
#globalBalance .lists .martprice{
	text-decoration:line-through;
}
.list_title span.productsprice{
	width:130px;
}
.list_title span.number{
	width:65px;
	text-align:center;
}
.list_title span.sum{
	width:110px;
	padding-left:30px;
}
#globalBalance .lists{
	height:100%;padding-top:5px;overflow:hidden;border-bottom:none;
}
#globalBalance .buy_allmeny{
	padding:10px 0 0 13px;margin:2px 3px 0;
}
#Balance_info{
	width:894px;margin:0 auto;margin-top:5px;
}
#Balance_info_carts{
	width:894px;margin:0 auto;margin-top:5px;
}
#Balance_info .new_add{
	line-height:30px;text-align:right;margin:8px 10px 0;padding:4px 15px 4px 0;
}
#Balance_info .address_title{
	padding:7px 0;height:12px;margin:0 1px;
}
#Balance_info .address_title span{
	float:left;
}
.address_title span.name_title{
	width:60px;
	padding-left:75px;
}
.address_title span.territory{
	width:108px;
	text-align:center;
}
.address_title span.addrees{
	width:235px;text-align:center;
}
.address_title span.post_number{
	width:57px;
	text-align:center;
}
.address_title span.phone{
	width:92px;
	text-align:center;
}
.address_title span.emails{
	width:134px;text-align:center;
}
.address_title span.handel{
	width:124px;text-align:center;
}
#Balance_info .address_list{
	line-height:normal;height:45px;margin-left:10px;
}
#Balance_info table.address_list td span.name{
	padding-left:35px;float:none;
}
#Balance_info table.address_list td span.select_input{
	padding-left:12px;float:none;
}
table.address_list .select_input input{
	margin-bottom:-3px;
}
#Balance_info table.address_list td{
	padding:5px 0;
}
#Balance_info .address_table{
	margin:0 auto;width:871px;
}
.address_table td{
	padding:5px 0;
}
.address_table td.first{
	padding-left:12px;white-space:nowarp;
}
#Balance_info table{
	margin:0 1px;width:874px;
}
table .list .selece_input{
	text-align:left;
}
#Balance_info .address_title .send_name{
	width:255px;padding-left:0px;text-align:center;
}
#Balance_info table.address_list .send_title td{
	padding:0 0;
}
#Balance_info table.address_list .list td{
	padding:5px 0;
}

#Balance_info .item_price{
	padding:6px 13px 0 0;margin:0 10px;line-height:25px;overflow:hidden;height:100%;
}
#Balance_info .order_integral{
	font-weight:normal;text-align:left;padding:6px 0 6px 13px;line-height:normal;margin:0 10px;
}
#Balance_info .item_price .send_menny{
	padding-right:15px;
}
#Balance_info .item_price .sum_meny{
	font-weight:bold;
}
#Balance_info .Balance_btn{
	margin:40px 0;text-align:center;
}
 .Balance_btn input{
 	width:98px;height:28px;font-size:14px;text-align:center;cursor:pointer;padding:0 0 2px 0;*padding:0 0 0 0;font-weight:bold;
 }
.Balance_alltitle{
	width:894px;margin:10px auto 5px;height:36px;
}
#Balance_info .address_list .address_title td{
	padding:5px 0;
}
#Balance_info .address_list .list .bewrite{
	padding-left:12px;text-align:left;
}
#globalBalance .succeed{
	margin:10px 0 5px 0;font-size:1.5em;padding-left:200px;padding-right:200px;
}
#globalBalance .succeed img{
	margin:-15px 15px 0 0;vertical-align:middle;position:relative;zoom:1
}
#globalBalance .order_description{
	margin:0 0 5px 0;padding-left:268px;padding-right:200px;
}
#globalBalance .back_home{
	text-align:center;
}
#globalBalance .back_home a{text-decoration:underline;}

#globalBalance .back_home .green_btns{
	width:108px;margin:0 auto;
}
.green_btns{
	display:block;height:27px;text-align:center;padding-right:5px;
}
.green_btns a{display:block;height:27px;line-height:27px;letter-spacing:1px;}
.lan-info select{width:80px;}
.edittitle{
	padding:10px 12px;
}
/*========================= 搜索结果 ==========================*/
#noproducts{
	height:220px;width:740px;margin-top:8px;
}
#noproducts p{
	margin:100px 0 0 250px;
}
/*========================= History ==========================*/

.category_box .history{
	height:auto;position:relative;margin:0;padding:2px 0 5px 0;
}
.category_box .history ul{
	padding:5px 5px 0;overflow:hidden;height:100%;
}
.category_box .history ul li{
	float:left;width:80px;height:122px;
}
.history ul li .pic{
	text-align:center;
}
.history ul li .name{
	text-align:center;margin-top:5px;white-space:nowrap;overflow:hidden;width:80px;
}
.history ul li .price{
	text-align:center;margin:5px 0 10px 0;
}
/*==================== Language =========================*/
#language{
	width:266px;
	
}
#language h1{
	position:relative;
}
#language ul{
	padding:15px 15px 5px;height:100%;overflow:hidden;
}
#language li{
	width:117px;float:left;margin-bottom:10px;
}
#language li a:hover{
	font-weight:bold;text-decoration:none;
}

#language li img{
	width:37px;height:27px;margin-right:10px;
}
.close{
	position:absolute;top:0;right:0px;z-index:-1px;
}
/*==================== 购买成功 =========================*/
#buyshop_box{
	width:424px;
}
#buyshop_box h1{
	position:relative;
}
#buyshop_box h1 span{
	position:absolute;right:0;cursor:pointer;
}
#buyshop_box ul{
	margin:20px 25px 15px;overflow:hidden;height:100%;padding-bottom:15px;
}
#buyshop_box li{
	float:left;
}
#buyshop_box li.right{
	width:65%;
}
#buyshop_box li.pic{
	padding:0 15px 0 3px;
}
#buyshop_box .name{
	margin:3px 0 0;font-weight:bold;
}
#buyshop_box .profile{
	height:100%;overflow:hidden;margin:2px 0;
}
#buyshop_box .profile dd.l{width:28%}
#buyshop_box .profile dd.r{width:72%;}
#buyshop_box .shops{
	height:100%;overflow:hidden;
}
#buyshop_box p.buy_btn{
	text-align:right;padding:0 25px 10px;overflow:hidden;height:100%;
}
#buyshop_box p.buy_btn a{
	float:right;width:74px;height:22px;line-height:21px;*line-height:23px;text-align:center;margin-left:3px;
}
/*  ==================== 商品文字排式 ====================  */
#Item_ListBox ul li .item_infos{
	margin:15px 0 15px 30px;overflow:hidden;
}
#Item_ListBox ul.text_itemlist li{
	height:auto;margin:0;
}
#Item_ListBox ul.text_itemlist{
	margin-left:0;
	margin-right:0;
}
#Item_ListBox ul li .item_infos span{
	display:block;float:left;
}
.item_infos span.name{
	width:405px;
}
.item_infos span.name cite{
	margin-left:20px;
}
.item_infos span.marketprice{
	width:85px;text-align:center;text-decoration:line-through
}
.item_infos span.Price{
	width:125px;text-align:center;
}
.item_infos span.Territory{
	width:90px;text-align:center;
}
.item_infos span.buy_btns{
	margin-top:15px
}
#Item_ListBox ul li .right .Prices{
	margin-top:15px;
	margin-left:20px;
}
#Item_ListBox .Title_Item .text_select_Territory{
	margin-right:170px;
}
/*  ==================== 商品列表缩略图排式 ====================  */
#Item_ListBox ul.breviary{
	margin:20px 0 20px 7px;float:none;height:100%;overflow:hidden;
}
#Item_ListBox ul.breviary li .pic{
	margin:8px 0 0 0px;float:none;display:block;text-align:center;
}
#Item_ListBox ul.breviary li{
	height:200px;*height:220px;margin-right:13px;
}
#Item_ListBox ul.breviary li .info .Mart_Price{
	display:block;text-decoration:line-through;
}
/*========================= 网站导航 ==========================*/
#navigation{width:926px;margin-bottom:5px;}
#navigation h1{margin-left:10px;}
#navigation h1 span.l{height:36px;width:10px;left:-10px;}
#navigation .list_box{
	padding:10px 0 20px;height:100%;
}
#navigation .article_box{
	padding:0;height:100%;
}
#navigation ul{
	position:relative;height:36px;margin-top:-33px;margin-left:8px;margin-bottom:-2px;
}
#navigation ul li{
	height:36px;float:left;text-align:center;font-size:14px;line-height:36px;padding-right:10px;
}
#navigation ul li span{display:block;padding-left:10px;}
#navigation .list_box .sorts{
	padding:5px 0 5px;
}
.list_box .sorts h2{
	display:block;padding:5px 13px 2px;
}
.list_box .sorts h2 span{
	margin-left:10px;font-weight:bold;font-size:12px;
}
.list_box .sorts p{
	padding:5px 25px 0;line-height:25px;
}
.list_box .sorts p span{
	padding:0 6px;
}
.list_box .sorts p a:hover{
	font-weight:bold;
}
.list_box .sorts p.sort_name{
	padding:5px 10px 0 30px;height:18px;min-height:18px;line-height:normal;
}
#navigation .list_box .article{
	float:left;width:215px;margin-left:15px;display:inline;padding-top:15px;overflow:hidden;
}
.list_box .sorts h2.title{
	padding-bottom:5px;margin-bottom:5px;
}
.list_box .sorts p.sort_name span{
	float:left;padding:0px;
}
.list_box .sorts p.sort_name span.subject{
	width:390px;
}
.list_box .sorts p.sort_name span.name{
	width:190px;
}
.list_box .sorts p.sort_name span.time{
	width:110px;
	
}
/*===================Tab======================*/
ul.content_tab{
	height:100%;overflow:hidden;margin:5px 0 -1px 15px;position:relative;
}
ul.content_tab li{
	float:left;cursor:pointer;height:26px;width:auto;text-align:center;margin:0 1px;
}
ul.content_tab li span{display:block;padding:7px 10px 4px;}
ul.content_tab li.hover span{
	font-weight:bold;
}
ul.article_tab{
	height:100%;overflow:hidden;padding-left:10px;margin-top:5px;position:relative;margin-top:-40px;
}
ul.article_tab li{
	float:left;cursor:pointer;height:35px;line-height:35px;margin:0 1px;padding-right:10px;font-weight:bold;
}
ul.article_tab li span{
	display:block;text-align:center;line-height:35px;padding:0 0 0 10px;
}
ul.article_tab li.hover span{
	display:block;text-align:center;line-height:35px;padding:0 0 0 10px;
}
/*===================Login out======================*/
#loginout{
	width:424px;
}
#loginout h1{
	position:relative; height:23px;font-size:13px;
}
#loginout h1 b{
	line-height:23px;margin-left:25px;
}
#loginout h1 img.close{
	top:0;right:0;position:absolute; cursor:pointer;
}
#loginout .login-alettr{
	width:383px; margin:0 auto; text-align:center; font-size:16px;padding:25px 0;
}
.login-alettr img{
 	margin-right:25px;
}
#loginout .btns{
	padding:18px 20px 15px 0; height:100%; overflow:hidden;
}
#loginout .btns a{
	float:right;width:86px; height:22px;text-align:center;line-height:22px; position:relative; margin-left:5px;
}
#loginout .btns a img{
	position:absolute; right:0; top:0;
}
#loginout .btns a:hover{
	text-decoration:none;
}
#loginout .btns a.to_login{
	width:98px;
}
/*===================other======================*/
#Balance_info_carts .address{
	font-weight:bold;line-height:30px;padding-left:13px;height:30px;margin:8px 10px 0;position:relative;
}
#Balance_info_carts .new_add{
	line-height:30px;text-align:right;margin:8px 10px 0;padding:4px 15px 4px 0;
}
#Balance_info_carts .address_title{
	padding:7px 0;height:12px;margin:0 1px;
}
#Balance_info_carts .address_title span{
	float:left;
}
#Balance_info_carts .address_list{
	line-height:normal;height:45px;width:874px;*width:872px;margin-left:10px;
}
#Balance_info_carts table.address_list td span.name{
	padding-left:35px;float:none;
}
#Balance_info_carts table.address_list td span.select_input{
	padding-left:27px;float:none;
}
#Balance_info_carts table.address_list td{
	padding:5px 0;
}
#Balance_info_carts .address_table{
	margin:0 auto;width:871px;
}
#Balance_info_carts table{
	margin:0 1px;width:874px;
}
#Balance_info_carts table td{
	vertical-align:middle;
}
#Balance_info_carts .address_title .send_name{
	width:255px;padding-left:0px;text-align:center;
}
#Balance_info_carts table.address_list .send_title td{padding:0 0;}
#Balance_info_carts table.address_list .list td{
	padding:5px 0;
}

#Balance_info_carts .item_price{
	padding:6px 0;padding-left:13px;margin:0 1px;font-size:14px;margin:0 10px;
}
#Balance_info_carts .order_integral{
	font-weight:normal;text-align:left;padding:6px 0 6px 13px;line-height:normal;margin:0 10px;
}
#Balance_info_carts .item_price .send_menny{
	padding-left:30px;
}
#Balance_info_carts .item_price .sum_meny{
	padding-left:143px;font-weight:bold;
}
#Balance_info_carts .item_price font{
	font-size:14px;
}
#Balance_info_carts .Balance_btn{
	margin:40px 0;text-align:center;
}
#Balance_info_carts .address_list .address_title td{
	padding:5px 0;
}
#Balance_info_carts .address_list .list .bewrite{
	padding-left:25px;text-align:left;
}
/*=========================Admin Iformations ==========================*/
.contents{
	width:98%;position:relative;padding-bottom:32px; height:100%;margin:0 auto;
}
.home_main{
	margin:0 auto; padding:15px 8px 25px; height:100%;overflow:hidden;
}
.informations{
	margin:-5px 0 -15px;
}
.informations p{
	text-align:center;
}
.informations p.handdle a{
	text-decoration:underline;
}
.informations p strong{
	font-size:14px;
}
.informations p.handdle span{
	margin:0 10px;
}
.bg_btns{
	display:block;width:49px;height:20px;line-height:20px;text-align:center;padding:0;white-space:nowrap;text-indent:0;
}
/*按钮*/
.btn_list a{
	display:block;width:auto;height:20px;text-align:center;margin:0 auto;white-space:nowrap;margin-bottom:4px;
}
.btn_list a span{display:block;margin:0 3px 0 0;padding:0 7px 0 10px;line-height:20px;}
.btn_list a:hover{
	display:block;width:auto;height:20px;text-align:center;margin:0 auto;margin-bottom:4px;
}
.btn_list a:hover span{display:block;margin:0 3px 0 0;padding:0 7px 0 10px;line-height:20px;}
.Calendar{
	border:none;background:none;width:30px;*width:18px;height:18px;margin:-2px 0 0;*margin:-3px 3px 0;position:relative;vertical-align:middle;
}
button{cursor:pointer;}
/*  new  advancedsearch add */

#advanced_search_page dl{height:100%;overflow:hidden;float:none;width:auto;margin:8px 0;}
#advanced_search_page dd{width:25%;padding:4px 0 0 0;text-align:left;}
#advanced_search_page {
	width:350px;margin:20px auto 0;position:relative;zoom:1;
}
#advanced_search_page p.buy_btn{padding-left:84px;}
#advanced_search_page p.buy_btn a{float:left;}
#advanced_search_page span.search_ico{
	position:absolute;left:-80px;top:-5px;
}
#advanced_search_page .enter_text{
	width:100px;padding:0 2px;
}
#advanced_search_page img.go{margin-top:-6px;*margin-top:-2px;position:relative;}
#advanced_search_page span{
	margin:0 1px;
}
#advanced_search .search_btn{
	vertical-align:middle;
}
#advanced_search_page .search_btn img{
	vertical-align:middle;padding-bottom:5px;
}
#advanced_search_page a{
	margin:0 11px;
}
#advanced_search_page a#adv_search{
	margin-left:-2px;
}
#advanced_search_page a:hover{
	text-decoration:none;
}
/*New Article*/
#hot-list{
	height:51px;overflow:hidden;
}
#hot-list ul{
	float:left;width:41.1%;height:96%;padding:7px 10px 0;
}
#hot-list li{
	 padding-left:8px;line-height:20px;
}
#hot-list p.l{float:left;width:50px;text-align:center;height:45px;padding-top:6px;line-height:20px;}
#hot-list p.more{
	float:right;width:38px;height:51px;
}
#hot-list p.more a{display:block;height:100%;}