/*****************************************************************************
 * SV-CART 式样表
 *===========================================================================
 * 版权所有上海实玮网络科技有限公司，并保留所有权利。
 * 网站地址: http://www.seevia.cn
 *---------------------------------------------------------------------------
 *这不是一个自由软件！您只能在不用于商业目的的前提下对程序代码进行修改和使用；
 *不允许对程序代码以任何形式任何目的的再发布。
 *===========================================================================
 * $开发: 上海实玮$
 * $Id: style_purple.css 3261 2009-07-23 05:38:53Z huangbo $
*****************************************************************************/

body {background:#fff;}
a{text-decoration:none;color:#8A8B8B;}
.float_l{float:left;}.float_r{float:right}
.green_border{border:1px solid #AE67B4;}
.border_green_6{border:1px solid #699F7D;}
.green_3{color:#E76CE4;}
input.text_input{border:1px solid #8B0797;padding-top:1px;padding-bottom:1px;font-family:arial;}
.text_input{border:1px solid #8B0797;}
select.selects{border:1px solid #8B0797;}
/*Border*/
.border{border:1px solid #AE67B4}
.border_b{border:1px solid #E6C2E7}
.border_side{border-left:1px solid #AE67B4;border-right:1px solid #AE67B4;background:#fff;}
.bgcolor_e{background:#FDEEF8;}
.cursor{cursor:pointer;}

.find-btns{
	background:url(../img/purple/find.gif) 100% -20px no-repeat;
}
.find-btns input.find{
	 background:url(../img/purple/find.gif) 0 0 no-repeat;border:0;color:#8B0797;
}
.find-btns a{
	background:url(../img/purple/find.gif) 100% -20px no-repeat;
}

#search .enter_text{
	border:1px solid #535353;
}
.category_box .box{
	border-right:1px solid #ED9CEC;
}
#Item_List ul li .pic img{
	border:1px solid #ccc;
}
#advanced_search .keywords dl .passbox img,#User_Login .keywords dl .passbox img{
	border:1px solid #949695;
}
.logon_input{
	border:1p solid #A1D4E7;
}
.View_item{border-bottom:0;}
#Item_ListBox ul li .pic img{
	width:108px;
	border:1px solid #E3E3E3;
}
#Item_ListBox ul li .pic img{
	border:1px solid #E3E3E3;
}
#pager p span input{
	border:1px solid #DB29DE;
}
#main_left .pic img{
	border:1px solid #AE67B4;
}
#main_left .pic_select img{
	border:1px solid #AE67B4;
}
#item_info .yui-content{
	border-top:1px solid #8B0797;
}
#comment .box,#article_info{
	border:1px #AE67B4 solid;
}
.btn_liss .reset{border:0;}
#Products #Item_box{
	border-bottom:1px solid #AE67B4;
}
.activity_column .main .noboder{
	border-bottom:none;
}
#Balance_info{
	border:1px solid #AE67B4;
}
#Balance_info table.address_list,#Balance_info .address_table{
	border-top:1px solid #FDEEF8;
}
#Balance_info table.address_list td{
	border-right:1px solid #FDEEF8;
}
#Balance_info .address_table{
	border-bottom:1px solid #FDEEF8;
}
#Balance_info table{border:none;}
#Balance_info table.address_list td.handel{
	border-right:none;
}
#Balance_info table.address_list .send_title td.handel{
	border-right:none;
}
#Balance_info table.address_list .list td{
	border-bottom:none;
}
#nogoods{
	border:1px solid #AE67B4;
}
#language li img{
	border:1px solid #e1e1e1;
}
#navigation .list_box .brand_sorts{
border-bottom:none;
}
#navigation .list_box .article{
	border-bottom:none;border-right:1px dashed #C5C5C5;
}
#Balance_info_carts .address_list{
	border-bottom:1px solid #FDEEF8;
}
#Balance_info_carts table{border:none;}
#Balance_info_carts table.address_list td.handel{
	border-right:none;
}
#Balance_info_carts table.address_list .send_title td{
	border-right:1px solid #FDEEF8;border-bottom:1px solid #FDEEF8;
}
#Balance_info_carts table.address_list .send_title td.handel{
	border-right:none;
}
#Balance_info_carts table.address_list .list td{
	border-bottom:none;
}
#globalBalance .order_description{
	color:#666666;
}

.contents{
	border-top:0;
}
#advanced_search_page .enter_text{
	border:1px solid #9C08A3;
}
#header{
	background:#fff;border-bottom:5px solid #9C08A3;
}

#footer{
	background:#fff;color:#B4B4B4;border-top:5px solid #9C08A3;
}
.not{color:#9C08A3;}
h1.headers{color:#fff;background:url(../img/purple/headers.gif) 0 -36px repeat-x;}
h1.headers span.l{background:url(../img/purple/headers.gif) 0 0 no-repeat;}
h1.headers span.r{
	background:url(../img/purple/headers.gif) 100% -72px no-repeat;
}
.clear_all a,.address a.amember{color:#ffffff;}

#footer .link{
	line-height:30px;color:#8B0797;
}
#footer .link a{color:#8B0797;}
#footer .Power a{color:#B4B4B4;}

/*Color*/
.green_3{color:#9C08A3;}
.color_4{color:#9C08A3;}
.color_5{color:#535353;}
.color_f9{color:#9E9D9E;}
.color_53{color:#535353;}
.fff{color:#fff}
.color_083{color:#8A8B8B;}

.category_box .box{
	border-left:1px solid #ED9CEC;border-right:1px solid #ED9CEC;height:100%;
}
.category_box h3{
	background:url(../img/purple/category.gif) 0 -29px repeat-x;color:#fff;
}
.category_box h3 .l{
	background:url(../img/purple/category.gif) 0 0 no-repeat;
}
.category_box h3 .r{
	background:url(../img/purple/category.gif) 0 -58px no-repeat;
}
.category_box .Help ul li a{
	background:none;color:#CF5DB7;
}
#Item_List ul li .info .name a{color:#8B0797;}
#Item_List ul li .info .carts a,#Item_List ul li .info .carts{color:#8B0797;}
#Item_List ul li .info .stow a{color:#CF5DB7;}
#Item_List ul li .info .Price{color:#6D6D6D;}
#Item_List ul li .info .stow{color:#CF5DB7;}
#Item_List ul li .info .cart a{
	background:url(../img/purple/AddToCart.gif) no-repeat;color:#fff;
}
#Item_List li.no_item p{color:#DB29DE}
#News p.text{color:#CF5DB7;}
#advanced_search .title,#User_Login .title,#language .title{
	background:url(../img/purple/login_title.png) no-repeat;color:#fff;
}
#User_Login .keywords{
	background:#FFFFFF;border-right:1px solid #AE67B4;border-left:1px solid #AE67B4;
}
#advanced_search .keywords{
	background:#FFFFFF;border-right:1px solid #AE67B4;border-left:1px solid #AE67B4;
}
#advanced_search .keywords dl dt{color:#E76CE4;}
#User_Login .keywords dl dt{width:30%;text-align:right;margin:5px 0 0 0;color:#E76CE4;line-height:normal;white-space:nowrap;padding-right:5px;}
#advanced_search .keywords dl dd .enter,#User_Login .keywords dl dd .enter{;color:#CF5DB7;}
#advanced_search .keywords dl dd .selects,#User_Login .keywords dl dd .selects{color:#CF5DB7;}
#advanced_search .keywords dl dd .Price,#User_Login .keywords dl dd .Price{color:#CF5DB7;}
#advanced_search .keywords dl dd span,#User_Login .keywords dl dd span{color:#7D9BBD;}
#User_Login .keywords dl .logon a{
	background:url(../img/purple/logon_img.gif) no-repeat;color:#fff;
}
#panel_login_message{color:#f00;}
.keywords dl .forget_pass a{color:#E76CE4;}
#Item_ListBox{
	width:741px;border-bottom:1px solid #AE67B4;background:#fff url(../img/purple/product-bg.gif) repeat-y;overflow:hidden;
}
.View_item{
	color:#fff;background:#AE67B4;border:1px solid #AE67B4;border-bottom:0;
}
.View_item .select_view select{color:#9C08A3;}
#Item_ListBox .Title_Item{
	color:#DB29DE;background:#EFF8E1;border-top:1px solid #AAE59F
}
#Item_ListBox .Title_Item .select_Territory select{color:#9C08A3;}
#Item_ListBox ul li .right .item_info{color:#DB29DE;}
#Item_ListBox ul li .right .brand-name{color:#DB29DE;}
.right .item_info .name{color:#8B0797;}
.right .item_info .buy a{
	color:#fff;height:24px;float:left;line-height:24px;margin-left:10px;
}
.item_info .buy a span{background:url(../img/purple/btn_addfav.gif) 100% -24px no-repeat;}
.right .item_info .buy a.addtocart{
	background:url(../img/purple/btn_addcart.gif) no-repeat;
}
.right .item_info .buy a.fav{
	background:url(../img/purple/btn_addfav.gif) no-repeat;
}
.right .item_info .name a{color:#8B0797;}
.right .item_info .Price{color:#DB29DE;}
#Item_ListBox ul li .right .btn_list{color:#0756A3;}
#Item_ListBox ul li .right .btn_list_a{color:#0756A3;}
/*  ==================== ur_here ====================  */
#ur_here,#ur_here a{color:#DB29DE;}

#pager p{color:#8B0797;}
#pager p a{color:#DB29DE;}
#pager p a:hover{color:#8B0797;}
#globalBrand{border:1px solid #909493;}
#globalBrand h1{
	background:#EAFFE0;color:#58CF71;
}
.Brand_list p span a:hover{
	color:#8B0797;
}
.Brand_list p span a{
	margin-left:5px;color:#DB29DE;
}
#Right h1.global_title {
	color:#fff;background:url(../img/purple/infotitle_bg.gif) no-repeat;
}
#globalMain #main_left h1{color:#DB29DE;}
#main_left .pic{
	background:url(../img/purple/Shadow_bg.gif) right bottom;
}
#main_left .picc{
	background:url(../img/purple/Shadow_bg.gif) no-repeat right bottom;
}
#globalMain #main_right h1{
	color:#fff;background:#000 url(../img/purple/headers.gif) 0 -36px repeat-x;
}
#main_right h1 span.l{background:url(../img/purple/headers.gif) 0 -108px no-repeat;}

#main_right #item_infos{
	border:1px solid #AE67B4;
}
.item_box ul li{color:#808080;}
.item_box ul li.btn_list{color:#808080;}
.item_box ul li.btn_list a,.item_box ul li.btn_list a:hover{color:#fff;}
/*
.item_box ul li.btn_list a span,.item_box ul li.btn_list a:hover span{
	background:url(../img/purple/btn_addfav.gif) 100% -24px; no-repeat;
}
.item_box ul li.btn_list a.addfav{
	background:url(../img/purple/btn_addfav.gif) no-repeat;width:auto
}
.item_box ul li.btn_list a.addcart{
	background:url(../img/purple/btn_addcart.gif) no-repeat;
}
*/
.item_box ul li .price{color:#FF6502;}
.item_box h2{color:#DB29DE;}
#item_info h2{color:#DB29DE;}
#item_info .infos{color:#808080;}
#item_info .property{
	border-top:1px solid #AE67B4;
}
#main_right #Correlation .item_title,#main_right #Correlation_article .item_title{
	background:#fff;color:#DB29DE;
}
#Edit_box a#comments{
	color:#fff;
}
.comment_title{background:url(../img/purple/comments.gif) 0 -31px repeat-x;}
.comment_title .t{background:url(../img/purple/with_icon.gif) 0 14px no-repeat;}
.comment_title .close{background:url(../img/purple/close.png) no-repeat;}
.comment_title .close:hover{background:url(../img/purple/close_over.png) no-repeat;}
.comment_title .l{background:url(../img/purple/comments.gif) 0 0 no-repeat;}
.comment_title .r{background:url(../img/purple/comments.gif) 0 -62px no-repeat;}
.user_comment dl{color:#808080;}
.btn_liss .reset{
	background:url(../img/purple/submit-img.gif) no-repeat;color:#fff;
}
#Products .ur_here{color:#40AAFE;}
#Products .ur_here a{color:#40AAFE;}
#Products .Title_list{color:#CF5DB7;border-bottom:1px solid #AE67B4;}
#Item_box .Item_info{color:#8B0797;}
#Item_box .Item_info a{color:#8B0797;}
#Item_box .Item_Price span{color:#8B0797;}
#Item_box .Item_Price .Price{color:#E976E6;}
#Item_box .Item_Price .save{color:#FF9C01;c}
#Item_box .Number_select .Number input{
	border:none;background:none;color:#8B0797;
}
#Item_box .Saves .Number{color:#8B0797;}
#Item_box .Sums .Number{color:#8B0797;}
.btn_list_a a{
	background:url(../img/purple/stow_img.gif) no-repeat;color:#fff;
}
.btn_list_a a:hover{
	background:url(../img/purple/del_img.gif) no-repeat;color:#fff;
}
.btn_list_a a.lenth{
	background:url(../img/purple/view_info.gif) no-repeat;
}
.btn_list_a a.lenth:hover{background:url(../img/purple/view_info_over.gif) no-repeat;}
#Products #balance span{color:#CF5DB7;}
.outstock dl{color:#DB29DE;}
.information h1 cite{color:#fff;}
.information h1 .more a,.activity_column h1 .more a{
	color:#fff;
}
.information .infos h2{color:#CF5DB7;}
.information .infos .txt{color:#8F8F8F;}
.activity_column h1.option{
	background:url(../img/purple/article-option.gif) no-repeat;
}
.activity_column h1 cite{color:#fff;}
.activity_column .main{border:1px solid #AE67B4;}
.activity_column .main .subject{
	border-top:1px dashed #C6C6C6;
}
.infos dl.artic_head{color:#9C08A3;}
.main .comment_list p span,.infos .comment_list p span{color:#8A8B8B;}
p.no_article{color:#8B0797;}
#globalBalance{
	border-top:1px solid #AE67B4;background:url(../img/purple/Balance_bg.gif) repeat-y;
}
#globalBalance .buy_title,h5{	color:#9C08A3;}
#globalBalance .list_title{
	border-bottom:2px solid #FDEEF8;color:#CF5DB7;
}
#globalBalance .list_title .pic img{
	border:1px solid #E2E2E2;
}
#globalBalance .lists a{
	color:#9C08A3;
}
#globalBalance .buy_allmeny{
	color:#CF5DB7;border-top:2px solid #FDEEF8;
}
#globalBalance .lists{
	border-bottom:none;color:#CF5DB7;
}
#Balance_info .address{
	color:#fff;background:#E976E6 url(../img/purple/title.gif) 0 -30px repeat-x;
}
.address span.l{
	background:#CFCFCF url(../img/purple/title.gif) 0 -65px no-repeat;
}
.address span.r{
	background:#CFCFCF url(../img/purple/title.gif) 100% 0 no-repeat;
}
#Balance_info .new_add{
	color:#9C08A3;background:#FDEEF8;
}
#Balance_info .address_title{
	background:#DDF4E6;color:#CF5DB7;border-bottom:1px solid #CF5DB7;
}

#Balance_info .address_list{
	background:#fff;color:#CF5DB7;border-bottom:1px solid #FDEEF8;
}
.address_table td.lan-name{color:#CF5DB7;}
.address_table td.lan-info{color:#CF5DB7;}
#Balance_info table.address_list .send_title td{
	border-right:1px solid #FDEEF8;border-bottom:1px solid #FDEEF8;
}
#Balance_info .item_price{
	color:#8B0797;
}
#Balance_info .order_integral{
	color:#FDEEF8;background:#f00;
}
#Balance_info .item_price .sum_meny{color:#8B0797}
 .Balance_btn input{
 	background:url(../img/purple/submit_btn.gif) left no-repeat;border:0;color:#fff;
 }
#globalBalance .succeed{color:#DB29DE;}
.green_btns{
	background:url(../img/purple/green_btn.gif) 100% -27px no-repeat;
}
.green_btns a{background:url(../img/purple/green_btn.gif) 0 0 no-repeat;color:#fff;}
.edittitle{color:#CF5DB7;}
#nogoods p{
	color:#0CB152;
}
.history ul li .pic img.normal{
	border:1px solid #eee;
}
.history img.hover{border:1px solid #8B0797;}
.history ul li .price{color:#8B0797;}
#language ul{
	border-left:1px solid #AE67B4;border-right:1px solid #AE67B4;background:#fff;
}
#buyshop_box ul{
	border-bottom:1px solid #E1E1E1;
}
#buyshop_box li.pic img{
	border:1px solid #E1E1E1;
}
#buyshop_box .name a{
	color:#8B0797;
}
#buyshop_box p{
	color:#8B0797;
}
#buyshop_box p.buy_btn a{
	color:#fff;background:url(../img/purple/checkout_btn.gif) no-repeat;
}
#Item_ListBox ul.text_itemlist li{
	border-bottom:1px solid #909493;
}
#Item_ListBox ul li .item_infos span a{color:#8B0797;}
.item_infos span.marketprice{color:#8A8B8B;}
.right .item_info .Territory a{color:#1FBD66;}
#Item_ListBox ul.breviary li .info .Mart_Price{color:#6D6D6D;}
#navigation h1 span.l{background:url(../img/purple/headers.gif) 0 -108px no-repeat;}
#navigation .list_box{
	border:1px solid #909493;
}
#navigation ul li{
	background:url(../img/purple/option_bg_over.gif) 100% -35px no-repeat;
}
#navigation ul li span{background:url(../img/purple/option_bg_over.gif) 0 0 no-repeat;}
#navigation li b{color:#9C08A3;}
#navigation .list_box .sorts{
	border-bottom:1px #C6C6C6 dashed;
}
.list_box .sorts h2 span{
	color:#94279D;
}
.list_box .sorts p{
	color:#666;
}
.list_box .sorts p a:hover{
	color:#DB29DE;
}
.list_box .sorts h2.title a{
	color:#15A95E;
}
/*===================Tab======================*/
ul.content_tab li{
	color:#fff;background:url(../img/purple/item_btn02.gif) 0 0 no-repeat;
}
ul.content_tab li span{
	background:url(../img/purple/item_btn02.gif) 100% -26px no-repeat;
}
ul.content_tab li.hover{
	color:#DB29DE;background:url(../img/purple/item_btn02_over.gif) 0 0 no-repeat;
}
ul.content_tab li.hover span{
	background:url(../img/purple/item_btn02_over.gif) 100% -26px no-repeat;
}
ul.article_tab li{
	color:#fff;background:url(../img/purple/option_bg.gif);
}
ul.article_tab li.hover{
	color:#DB29DE;background:url(../img/purple/option_bg_over.gif) 100% -35px;
}
ul.article_tab li.hover span{
	background:url(../img/purple/option_bg_over.gif) 0 0 no-repeat;
}
#loginout .login-alettr{
	border-bottom:1px solid #E6E6E6;color:#DB29DE;
}
#loginout h1 b{color:#fff;}
#loginout .box{
	border-left:1px solid #AE67B4;border-right:1px solid #AE67B4;background:#fff
}
#loginout h1{
	background:url(../img/purple/loginout.png) repeat-x;
}
#loginout .btns a{
	background:url(../img/purple/loginout-btn.gif) no-repeat;color:#fff;
}
#Balance_info_carts .address{
	font-weight:bold;color:#9C08A3;line-height:30px;padding-left:13px;background:#FDEEF8;height:30px;margin:8px 10px 0;position:relative;
}
#Balance_info_carts .new_add{
	color:#9C08A3;background:#FDEEF8;
}
#Balance_info_carts .address_title{
	background:#DDF4E6;color:#CF5DB7;border-bottom:1px solid #CF5DB7;
}
#Balance_info_carts .address_list{
	background:#fff;color:#CF5DB7;border-bottom:1px solid #FDEEF8;
}
#Balance_info_carts table.address_list td{
	border-right:1px solid #FDEEF8;
}
#Balance_info_carts .address_table{
	border-bottom:1px solid #FDEEF8;
}
#Balance_info_carts .item_price{
	color:#FDEEF8;background:#FDEEF8;
}
#Balance_info_carts .order_integral{
	color:#FDEEF8;background:#FDEEF8;
}
#Balance_info_carts .item_price .sum_meny{
	color:#8B0797
}
.home_main{
	border:1px solid #CCCCCC;background:#F0F0F0;
}
.informations{
	border:1px solid #E0E0E0; background:#F9F9F9;
}
.informations p.handdle a{
	color:#20A24F;
}
.bg_btns{
	background:url(/user../img/purple/stow_img.gif) no-repeat; color:#fff;
}
/*按钮*/
.btn_list a{
	color:#fff;background:url(../img/purple/stow_img.gif) 100% -20px no-repeat;
}
.btn_list a span{background:url(../img/purple/stow_img.gif) left top no-repeat;}
.btn_list a:hover{
	background:url(../img/purple/stow_img_over.gif) 100% -20px no-repeat;color:#fff;
}
.btn_list a:hover span{background:url(../img/purple/stow_img_over.gif) left top no-repeat;}
#advanced_search_page a{color:#9C08A3;}
#advanced_search_page a:hover{	color:#8B0797;}
/*New Article*/
#hot-list{
	background:url(../img/purple/news.gif) 0 -51px repeat-x;
}
#hot-list ul{
	border-right:1px dashed #FF6C82;
}
#hot-list li{
	background:url(../img/purple/list-icon.gif) no-repeat left;
}
#hot-list p.l{
	background:url(../img/purple/news.gif) 0 0 no-repeat;
}
#hot-list p.more{
	background:url(../img/purple/news.gif) 100% -102px no-repeat;
}
#reguser_gut01 {
	background:url(../images/reg_bg.gif) top repeat-y;
}
#reguser_gut01_01 {
	color: #0b4b88;
}
#reguser_gut01 p {
	color: #0B4B88;
}

#reguser_gut01 ul {
	color:#848389;
}
#reguser_gut01 ul .sorty{
	color:#9FA8AD;
}
#reguser_gut01 ul .sorty a{
	background:url(../images/up_icon.gif) left no-repeat;
}
#reguser_gut01 ul li span.Pass_mantis select{
	color: #333333;
}
#reguser_gut01 li input {
	border: 1px solid #B3B3B3;color:#848389;
}
.z_c{
	color:#808080;
}
.ws_xx a{ color:#0268CE; }


/*Background*/
.member{background:#fff;}
.tools{background:#fff;}
#comment{background:#fff;}
#Right #Products{
	background:#fff;border:1px solid #AE67B4;
}
#Item_box .Item_info .pic img{
	border:1px solid #eee;
}
#buyshop_btn a.last-shop span{
	background:none;
}
#buyshop_btn a.checkout{
	background:url(../img/purple/tocheckout.gif) 100% -24px no-repeat;color:#fff;
}
#buyshop_btn a span{
	background:url(../img/purple/tocheckout.gif) 0 0 no-repeat;
}
.information .infos{
	border:1px solid #AE67B4;
}
#buyshop_box .shops{
	border-left:1px solid #AE67B4;border-right:1px solid #AE67B4;background:#fff;
}
#reguser_box .Agreement_box{
	background:url(../img/purple/Agreement_bg.gif) repeat-y;
}
#Edit_box .Agreement_box{
	background:none;border-bottom:none;
}
#user_msg p.msg_title{
	background:#FDEEF8;
}
#Edit_info p.note{
	background:#EB8EEA url(../img/purple/comment.gif) 0 -32px repeat-x; no-repeat;color:#fff;
}
#Edit_info p.note span.comment-left{
	background:#EB8EEA url(../img/purple/comment.gif) 0 0 repeat-x;
}
#Edit_info p.note span.comment-right{
	background:#EB8EEA url(../img/purple/comment.gif) 0 -64px repeat-x;
}
#Edit_info .comment{background:#DDF4E6;}
#user_msg .article{color:#9D9D9D;}

#user_msg p.article_time{background:#FDEEF8;}
#Edit_info .article_title .title_bg{
	background:#E6C2E7;
}
.btn_liss .submit_comment{
	background:url(../img/purple/submit-img.gif) no-repeat;border:0;color:#fff;
}
.btn_liss .reset{
	background:url(../img/purple/submit-img.gif) no-repeat;border:0;color:#fff;
}
#Correlation h1.title_nobg{
	background:none;color:#DB29DE;
}



/*Menus*/
.svcart-skin-g00 .yuimenu .Sub_bd{
	border-left:1px solid #DDBDE0;border-right:1px solid #DDBDE0;background:#FCECFC;
}
.svcart-skin-g00 .yuimenu ul{border-width:1px 0 0 0;border-color:#ccc;border-style:solid;}
.svcart-skin-g00 .yuimenuitem-selected{
	/*background:url(../img/over_bg.gif) no-repeat;*/
}
.svcart-skin-g00 .yuimenuitem-selected a.over{
	background:url(../img/purple/catmenu.gif) center top no-repeat;
}
.svcart-skin-g00 .yuimenuitem-selected a.normal{
	background:url(../img/purple/catmenu.gif) center -26px no-repeat;
}
.svcart-skin-g00 .yuimenuitemlabel-disabled{cursor:default;color:#A6A6A6;}
.yuimenuitem .No_bg{
	background:#F8F1FB;
	_border-bottom:solid 1px #F8F1FB;
}
.yuimenuitem .No_bg:hover{
	background:none;
}
.yuimenuitem .yuimenu .thr_style:hover{
	background:url(../img/purple/subnav_abg.gif) bottom no-repeat #fff;
}
.svcart-skin-g00 .yuimenu .thr_bd{
	border:1px solid #B8D5B7;
}
.svcart-skin-g00 .yuimenuitem a{color:#DA75DF;}
.svcart-skin-g00 .yuimenuitem-selected a{color:#8B0797;}
.yuimenuitem .yuimenu .yuimenuitemlabel:hover{
	background:url(../img/purple/subnav_abg.gif) bottom no-repeat;
}
.svcart-skin-g00 .container-close:hover{
	background:url(../img/purple/close_img_over.png) no-repeat right;

}
.svcart-skin-g00 .container-close{
	background:url(../img/purple/close_img.png) no-repeat 100% top;

}
.svcart-skin-g00 .yui-simple-dialog .bd .yui-icon{
	background:url(../img/purple/close_img_over.png) no-repeat 0 0;
}


#ysearch { text-align:center; }
#ysearchinput { position:static;width:20em; } /* to center, set static and explicit width: */
#ysearchcontainer_search { text-align:left;width:20em;} /* to center, set left-align and explicit width: */
#ysearchinput_search { position:static;width:20em; } /* to center, set static and explicit width: */
#ysearchcontainer { text-align:left;width:20em;} /* to center, set left-align and explicit width: */
#product{border:1px solid blue}
.font_14{font-size:14px;}
 img, div, input,ul ,h1,span,a{behavior:url("img/iepngfix.htc")}