ul,li{
list-style:none;}

form{margin:0px;}
/*====================== 用户注册 =========================*/
#login_box {
	width: 950px;margin-right: auto;margin-left: auto;height: 445px;	
}

#reguser_box {
	width:894px;margin-right: auto;margin-left: auto;margin-top:10px;
}
#reguser_box_user {
	width:896px;margin-right: auto;margin-left: auto;margin-top:10px;
}
.reguser_gut01 {
	width: 896px;margin-right: auto;margin-left: auto;padding-bottom: 12px;padding-top:12px;
}
.reguser_gut01_01 {text-align:center;margin:10px 0 20px;*margin:20px 0 20px;}
.reguser_gut01_01 ul.reg_flow{height:100%;overflow:hidden;margin-top:0}
.reguser_gut01_01 ul.reg_flow li{
	float:left;font-size:20px;font-weight:bold;margin:0 8px;padding:0;line-height:51px;white-space:nowrap;
}
.reguser_gut01_01 ul.reg_flow li.first{margin-left:0;}
ul.reg_flow li.over span{display:block;height:51px;padding:0 10px;_width:140px;}
ul.reg_flow li.normal span{display:block;height:51px;padding:0 10px;_width:140px;}
.reguser_gut01 p {
	margin: 0px;padding: 0px;height: 30px;line-height: 30px;
}

.reguser_gut01 ul {
	padding: 0px;margin:30px 0 0 60px;font-size: 12px;
}
.reguser_gut01 ul .sorty{
	margin:15px 0;padding:0px;
}
.reguser_gut01 ul .sorty a{
	display:block;padding:5px 0 0 25px;background-position:0 5px;
}
.reguser_gut01 ul .sorty a span{
	cursor:pointer;
}
.reguser_gut01 li {
	padding:5px 0 5px 0;height:100%;overflow:hidden;
}
.reguser_gut01 li dd{padding-top:4px;}
.reguser_gut01 li dd.l{
	width:20%;
}
.reguser_gut01 li dt{
	width:30%;
}
.reguser_gut01 li input {
	height: 14px;*height: 16px;font-size:12px;padding-top:3px;*padding-top:1px;line-height:15px;width:80%
}
.reguser_gut01 li.reguser_gut01_height01 {
	
}
.z_c{
	margin-left:45px;
}
.reguser_gut01 ul li span.sex{
	margin-left:190px;

}
.reguser_gut01 ul li span.motel{
	margin-left:58px;

}
.Agreement{
	width:768px;height:297px;overflow-y:scroll;margin:0 auto;overflow-x:hidden
}
.reguser_gut01 .Agreement .text{
	margin:15px;font-weight:normal;display:block;width:720px;line-height:20px;text-indent:0;height:auto;
}
#reguser_box .Agreement_box{
	padding-bottom:5px;
}
#reguser_box_user .Agreement_box{
	padding-bottom:5px;
}
.reguser_gut01 .Agreement_btn {
	margin-top:10px;text-align:center;margin-left:20px;
}
.reguser_gut01 #Title {
	text-align:center;margin:20px 0;font-size:12px;
}
.datefield button{
	padding:0;vertical-align:middle;cursor:pointer;margin-top:-3px;*margin-top:-1px;
}
/*====================== 编辑个个人信息 =========================*/

.Edit_box .Edit_info {padding-bottom: 12px;clear:both;}
.Edit_box{margin-top:5px;clear:both;overflow:hidden;}
.Edit_info_01 {
	text-align:center;margin:20px 0;
}
.Edit_info_username {
	text-align: center;font-size: 12px;margin-top: 23px;height: 70px;width: 750px;
}
.Edit_info ul {
	padding: 0px;margin:10px 0 0 60px;font-size: 12px;
}
.Edit_info ul .sorty{
	margin:30px 0;padding:0px;
}
.Edit_info li{
	padding:4px 0 0 0;height:100%;overflow:hidden;margin:5px 0;
}
.Edit_info li dd{
	padding:3px 0 0 0;width:20%;line-height:normal;
}
.Edit_info li dt{padding:0;line-height:normal;}
.Edit_info li dt.name{
	font-size:14px;padding-top:0;
}

.Edit_info ul li span.Pass_mantis select{
	width:172px;
}
.Edit_info li input {
	height: 17px;
	font-size: 12px;
	line-height: 16px;
}
 li.reguser_gut01_height01 .adres input{
 	width:302px;
 }
.Edit_info ul li span.sex{
	margin-left:190px;

}
.Edit_info ul li span.motel{
	margin-left:58px;

}
.y_but{
	clear:both;padding:4px 0 0 143px;
}
.ws_xx a{
	text-decoration:underline;
}
.Agreement{
	width:768px;
	height:297px;
	overflow-y:scroll;
	margin:0 auto;
	overflow-x:hidden
}
.Edit_box .Agreement_box{
	padding-bottom:5px;
}
.Edit_info .Agreement_btn {
	margin-top:10px;
}
.Edit_info #Title {
	text-align:center;
	margin:20px 0;
	font-size:12px;
}
.reguser_gut01 li span.input_main input{
	width:168px;
}
.Edit_info ul li span.addrees input{
	width:330px;
}
.Edit_info ul li span.territory select{
	width:95px;
}
/*====================== 密码管理 =========================*/
#clew .clewtxt{
	font-weight:normal;line-height:20px;text-indent:0px;margin:10px 20px 30px 145px;
}
#clew .clewtxt span.bold{
	font-weight:bold;
}
/*  ==================== 用户中心留言 ====================  */
.Edit_info .massege p.msg{
	font-weight:normal;text-indent:0;line-height:15px;
}
.Edit_info .massege{
	padding:5px 0 60px 200px;
}
.Edit_info ul li span.msg_box textarea{
	padding:2px;width:270px;height:60px;vertical-align:top
}
.user_msg p.msg_title{
	padding:2px 25px;position:relative;height:20px;overflow:hidden;line-height:20px;
}
.user_msg p.msg_title .del_btn{
	position:absolute;right:30px;top:2px;
}
.user_msg p.msg_txt{
	padding:10px 25px;line-height:normal;
}
.user_msg p span{
	font-weight:normal;
}
.Edit_info p.note{
	font-weight:normal;position:relative;height:32px;line-height:32px;padding-left:10px;
}
.Edit_info p.note img.comment-left{
	position:absolute;left:-1px;top:-1px;
}
.Edit_info p.note img.comment-right{
	position:absolute;right:-1px;*right:-2px;top:-1px;
}
/*  ==================== 用户中心我的评论 ====================  */
.Edit_info .comment p{
	text-align:center;text-indent:0;font-size:14px;
}
.Edit_info .comment{
	padding:30px 0;
}
.Edit_info .nexit_page{
	margin:50px 30px 10px 0;
}
/*  ==================== 用户中心文章详细 ====================  */
.user_msg p.article{
	padding:10px 0;line-height:normal;
}
.user_msg p.article_time{
	padding:2px 0;height:20px;line-height:20px;text-align:right;
}
#select_article{
	margin-top:40px;
}
#select_article p{
	line-height:18px;
	margin-left:22px;
	text-indent:0;
	font-weight:normal;
	padding-top:5px;
}
.Edit_info .article_title{
	text-indent:10px;
}
.article_title span.amenber_balances{
	position:absolute;right:15px;top:6px;
}
.article_title span.amenber_balances a{
	display:block;width:49px;height:20px; text-align:center; line-height:20px;
}
#comments #user_comment{
	float:left;
	width:360px;
}
#comments #comment_box{
	float:left;
}
.Edit_info #comments{
	height:180px;
}
#comments #user_comment p{
	padding:20px 0;
	line-height:normal;
	font-weight:normal;
	text-indent:45px;
}
#user_comment p.grade{
	vertical-align:middle;
}
#comments #comment_box p{
	text-indent:0px;
	font-weight:normal;
	line-height:normal;
}
#comment_box p.textarea_box textarea{
	width:330px;
	height:130px;
	padding:2px;
}
#comment_box p.textarea_box{
	margin-top:20px;
}
#comment_box p.btn_liss{
	margin:10px 0;
}
#user_comment p.email .enter_txt input{
	padding:2px;
	vertical-align:middle;
}
#user_comment p.email{
	vertical-align:middle;
}
.article_items{
	margin:5px 0;
	height:auto;
	width:740px;
	min-height:225px;
	overflow:hidden;
}
.article_items h1 span{
	margin-right:12px;
}
/*  ==================== 用户中心文章列表 ====================  */
.user_msg p.article_title{
	padding:0px;height:27px;text-align:left;text-indent:0;
}
.user_msg p.article_title span{
	float:left;height:25px;line-height:25px;	text-align:center;
}
.user_msg p.article_title span.title{
	width:372px;
	
}
.user_msg p.article_title span.user_name{
	width:165px;
}
.user_msg p.article_title span.add_time{
	width:197px;
}
.user_msg #article_box{
	margin:20px 0;
}
.user_msg #article_box p{
	line-height:normal;
	padding:3px 0;
	height:auto;
	text-indent:0;
	overflow:hidden;
	clear:both;
}
.user_msg #article_box p.list span{
	float:left;
}
#article_box p.list .title{
	width:350px;
	padding-left:24px;
	overflow-x:hidden;
}
#article_box p.list span.name{
	width:165px;
	text-align:center;
}
#article_box p.list span.time{
	width:197px;
	text-align:center;
}
/*  ====================  ====================  */
#globalBalance .buy_title{
	height:33px;
	line-height:33px;
	padding-left:13px;
	font-weight:bold;
}
#globalBalance .list_title{
	height:24px;
	line-height:24px;
	margin:0 3px;
	padding-left:11px;
}
#globalBalance .list_title .pic img{
	height:108px;
	width:108px;
}
#globalBalance .list_title .pic{
	margin-top:0;
}
#globalBalance .list_title span{
	float:left;
}
.list_title span.name{
	width:250px;
}
.list_title span.item_name{
	width:132px;
	padding-left:8px;
}
.list_title span.attribute{
	width:155px;
}
.list_title span.martprice{
	width:133px;
}
.list_title span.productsprice{
	width:130px;
}
.list_title span.number{
	width:65px;
	text-align:center;
}
.list_title span.sum{
	width:110px;
	padding-left:30px;
}
#globalBalance .lists{
	height:115px;
	padding-top:5px;
}
#globalBalance .lists span{
	margin-top:30px;
}
#globalBalance .buy_allmeny{
	padding:10px 0 0 13px;
	margin:2px 3px 10px;
}
#Balance_info{
	width:894px;
	margin:0 auto;
	margin-top:5px;
}
#Balance_info .address{
	font-weight:bold;
	line-height:30px;
	padding-left:13px;
}
#Balance_info .new_add{
	font-weight:bold;
	line-height:30px;
	text-align:right;
	margin:8px 10px 0;
	padding:4px 15px 4px 0;
}
#Balance_info .address_title{
	padding:7px 0;
	height:12px;
	margin:0 1px;
}
#Balance_info .address_title span{
	float:left;
}
.address_title span.name_title{
	width:60px;
	padding-left:75px;
}
.address_title span.territory{
	width:108px;
	text-align:center;
}
.address_title span.addrees{
	width:235px;
	text-align:center;
}
.address_title span.post_number{
	width:57px;
	text-align:center;
}
.address_title span.phone{
	width:92px;
	text-align:center;
}
.address_title span.emails{
	width:134px;
	text-align:center;
}
.address_title span.handel{
	width:124px;
	text-align:center;
}
#Balance_info .address_list{
	line-height:normal;
	height:45px;
	padding:0px;
	margin:0 10px;
}
#Balance_info table.address_list td span.name{
	padding-left:35px;
	float:none;
}
#Balance_info table.address_list td span.select_input{
	padding-left:27px;
	float:none;
}
#Balance_info table.address_list td{
	padding:15px 0;
}
#Balance_info table{
	margin:0 1px;
}
#Balance_info .address_title .send_name{
	width:255px;
	padding-left:0px;
	text-align:center;
}
#Balance_info table.address_list .send_title td{
	padding:0 0;
}
#Balance_info table.address_list .list td{
	padding:5px 0;
}

#Balance_info .item_price{
	padding:6px 0;
	padding-left:13px;
	margin:0 1px;
	font-size:14px;
	margin:0 10px;
}
#Balance_info .order_integral{
	font-weight:normal;
	text-align:left;
	padding:6px 0 6px 13px;
	line-height:normal;
	margin:0 10px;
}
#Balance_info .item_price .send_menny{
	padding-left:30px;
}
#Balance_info .item_price .sum_meny{
	padding-left:143px;
	font-weight:bold;
}
#Balance_info .item_price font{
	
	font-size:14px;
}
#Balance_info .Balance_btn{
	margin:40px 0;
	text-align:center;
}
#Balance_info .address_list .address_title td{
	padding:5px 0;
}
#Balance_info .address_list .list .bewrite{
	padding-left:25px;
}
/*  ==================== My Setting ====================  */
#setting{
	width:740px;
	margin-top:5px;
}
#setting .set-box{
	padding:20px 15px;
}
#setting .set-box dl{
	margin:8px 0;clear:both;float:none;height:100%;overflow:hidden;
}
.set-box dt{
	padding-top:1px;*padding-top:3px;
}
.set-box dd{
	width:20%;
}
.set-box li dd{
	padding-top:4px;*padding-top:6px;
}
.set-box li{
	margin:10px 0;height:100%;overflow:hidden;clear:both;
}
.set-box li.area select{
	width:450px;margin-left:33px;height:20px;
}
.set-box li.accessories select{
	width:95px;margin-left:10px;height:20px;
}
.set-box li input{
	*margin-left:4px;line-height:16px;
}
.submit-btn{
	margin-top:40px;
}
.submits{height:100%;overflow:hidden;}
.submits span{display:block;padding-right:2px;margin-left:4px;_margin-left:2px;}
.submits span input{height:20px;padding:0 3px 2px 5px;cursor:pointer;}
.submits span input{padding:2px 3px 0 5px\9;}
*+ html .submits span input{padding:2px 3px 0 5px !important;}
/*==================== Menber Login =========================*/
#login-box{
	width:890px;margin:30px auto 0;overflow:hidden;padding-bottom:10px;
}
#login-box h1{
	padding-top:0;font-size:16px;margin:6px 0 20px;*margin:10px 0 15px;
}
.menber-login .box{
	overflow:hidden;width:340px;height:100%;padding:20px 0 7px;
}
#login-box .menber-login{
	padding-left:100px;float:left;margin:18px 0 0;padding-bottom:44px;
}
.menber-login .box dl{
	float:none;overflow:hidden;height:100%;clear:both;margin-bottom:10px;
}
.menber-login .box dt{
	width:18%;padding-top:5px;*padding-top:7px;padding-left:10px;
}
.menber-login .box dd{
	padding-left:2px;width:78%;
}
.menber-login .box dd input{
	width:145px;padding:3px 1px;
}
.menber-login .box dd a:hover{
	text-decoration:none;
}
.menber-login .box dd.vidata input{
	width:71px;padding:3px 1px;
}
dd.vidata img{margin-top:-3px;vertical-align:middle;position:relative;height:20px;*margin-top:-6px;}
.menber-login .box .submit-btn{
	text-align:center;padding:15px 0;height:100%;overflow:hidden;padding-left:70px;
}
.box .submit-btn a{
	float:left;width:100px;height:30px;line-height:30px;text-align:center;margin:0 1px;font-size:14px;font-weight:bold;
}
.menber-login .box .submit-btn input{
	margin:0 2px;
}
#login-box .login-banner{
	float:left;margin-left:15px;padding-top:60px;_padding-top:70px;
}
.login-banner li{
	margin:15px 0;text-align:center;
}
.login-banner ul{
	padding:5px 0 10px;
}
#login-box .menber-register{
	padding-left:50px;float:left;
}
#login-box .cart-login{
	padding-left:50px;padding-right:50px;float:left;
}
.menber-register .box dt{
	width:110px;
}
.menber-login .box .register-submit{
	padding:5px 0 0;
}
