/*****************************************************************************
 * SV-CART CSS
 * ===========================================================================
 * 版权所有  上海实玮网络科技有限公司，并保留所有权利。
 * 网站地址: http://www.seevia.cn
 * ---------------------------------------------------------------------------
 * 这不是一个自由软件！您只能在不用于商业目的的前提下对程序代码进行修改和使用；
 * 不允许对程序代码以任何形式任何目的的再发布。
 * ===========================================================================
 * $开发: 上海实玮$
 * $Id: style.css 2717 2009-07-09 03:35:18Z huangbo $
*****************************************************************************/
body {background:#fff;}
a{text-decoration:none;color:#666;}
input.text_input{border:1px solid #008833;}
input.input{border: 1px solid #B3B3B3;}
.font_14{font-size:14px;}
.green_8{color:#889D95;}
.color_e{color:#E9FFDF;}
hr{border:none;border-top:1px solid #909592;}

/*Color*/
.green_3{color:#34AC61;}
.color_4{color:#40A564;}
.color_5{color:#535353;}
.color_f9{color:#FF9000;}
.color_53{color:#535353;}
.color_e{color:#E9FFDF;}
.color_67{color:#66765B}

#header{
	background:#fff;border-bottom:5px solid #40A564;
}

#footer{
	background:#fff;color:#B4B4B4;border-top:5px solid #4DAB6E;
}
#footer .link{color:#004B1C;}
#footer .link a{color:#004B1C;}

.submit_btn input.submit{
	background:url(../img/green/cencle.gif) no-repeat;border:0;
}
.submit_btn input.reset{
	background:url(../img/green/btn_reset.gif) no-repeat;border:0;
}

h1.headers{
	color:#fff;background:url(../img/green/headers.gif) 0 -36px repeat-x;
}
h1.headers span.l{
	background:url(../img/green/headers.gif) 0 0 no-repeat;
}
h1.headers span.r{
	background:url(../img/green/headers.gif) 100% -72px no-repeat;
}
/*buttons*/
.gray_btn a{background:url(../img/green/find.gif) 100% -20px no-repeat;}
.gray_btn a span{background:url(../img/green/find.gif) 0 0 no-repeat;}

.svcart-skin-g00 .container-close{
	background:url(../img/green/close_img.png) no-repeat right;
}
.svcart-skin-g00 .container-close:hover{
	background:url(../img/green/close_img_over.png) no-repeat right;
}
.svcart-skin-g00 .yui-simple-dialog .bd .yui-icon{
	background:url(../img/green/close_img_over.png) no-repeat 0 0;
}

.not{color:#008833;}
.calendar{
	border:none;background:none;
}
/*====================== 用户注册 =========================*/
#reguser_gut01 {
	background:url(../img/green/reg_bg.gif) top repeat-y;
}
#reguser_gut01_01 ul.reg_flow li{color:#17A75C;}
ul.reg_flow li.over{
	background:url(../img/green/reg_flow.gif) 0 0 no-repeat;
}
ul.reg_flow li.over span{
	background:url(../img/green/reg_flow.gif) 100% -51px no-repeat;color:#fff;
}
ul.reg_flow li.normal{background:url(../img/green/reg_flow.gif) 0 -102px no-repeat;}
ul.reg_flow li.normal span{
	background:url(../img/green/reg_flow.gif) 100% -153px no-repeat;
}
#reguser_gut01 ul {color:#848389;}
#reguser_gut01 ul .sorty{color:#9FA8AD;}
#reguser_gut01 ul .sorty a{
	background:url(../img/green/down_icon.gif) no-repeat;
}
#reguser_gut01 li input {
	color:#34AC61;
}
.z_c{	color:#808080;}
.Agreement{
	border:1px solid #DEDEDE;
}
#reguser_gut01 .Agreement .text{	color:#848389;}
#reguser_box .Agreement_box{
	border-bottom:none;background:url(../img/green/Agreement_bg.gif) repeat-y;
}
#reguser_box_user .Agreement_box{
	border-bottom:none;background:url(../img/green/Agreement_bg.gif) repeat-y;
}
#reguser_gut01 #Title {
	color: #0b4b88;color:#848389;
}
/*====================== 编辑个个人信息 =========================*/

#Edit_box #Edit_info {
	border:1px #909592 solid;
}
#Edit_info_01 {color: #0b4b88;}
#Edit_info_username {color: #0b4b88;}
#Edit_info ul {color:#848389;}
#Edit_info ul .sorty{color:#9FA8AD;}
#Edit_info ul li span.Pass_mantis select{color: #333333;}
#Edit_info li input {
	border: 1px solid #B3B3B3;color:#848389;
}
.z_c{color:#808080;}
.ws_xx a{color:#0268CE;}
.Agreement{
	border:1px solid #DEDEDE;
}
#Edit_box .Agreement_box{
	background:none;border-bottom:none;
}
#Edit_info #Title {color:#848389;}
/*====================== 密码管理 =========================*/
#clew .clewtxt{color:#7F7F7F;}
#clew .clewtxt span.bold{color:#f50;}
/*  ==================== 用户中心留言 ====================  */
#Edit_info .massege p.msg{color:#64765B;}
#user_msg p.msg_title{
	background:#E9FFDF;
}
#user_msg p{color:#18AA5C;}
#Edit_info p.note,.amend_address,.sufficient{
	color:#008833;
}
/*  ==================== 用户中心我的评论 ====================  */
#Edit_info .comment p{color:#18AB5C;}
#Edit_info .comment{
	background:#EAFFE0;
}
/*  ==================== 用户中心文章详细 ====================  */
#user_msg p.article span{color:#9D9D9D;}
#user_msg p.article_time{background:#DDF4E6;}
#user_msg p.article_time span{color:#9D9D9D;}
#select_article{
	border-top:3px solid #DDF4E6;
}
#select_article p{color:#9D9D9D;}
.article_title span.amenber_balances a{
	 background:url(/user../img/green/stow_img.gif) no-repeat;color:#fff;
}
#comments #user_comment p{color:#15A35B;}
#comment_box p.textarea_box textarea{
	border:1px solid #BBEBA5;
}
#user_comment p.email .enter_txt input{
	border:1px solid #BBEBA5;
}
.article_items{
	border:1px solid #004B1C;
}
.article_items h1.title_nobg{
	background:none;color:#16A45A;
}
/*  ==================== 用户中心文章列表 ====================  */
#user_msg p.article_title span{
	color:#16A45A;border-bottom:1px solid #fff;border-right:1px solid #fff;
}
#user_msg p.article_title span.add_time{
	border-right:none;
}
#user_msg #article_box p{color:#9D9D9D;}
#article_box p.list .title a{color:#9D9D9D;}
/*  ====================  ====================  */
#globalBalance{
	border-top:1px solid #004B1C;background:url(../images/Balance_bg.gif) repeat-y;
}
#globalBalance .buy_title{color:#30A65D;}
#globalBalance .list_title{
	border-bottom:2px solid #BBEBA5;color:#407B38;
}
#globalBalance .list_title .pic img{
	border:1px solid #E2E2E2;
}
#globalBalance .lists{
	border-bottom:none;color:#64765B;
}
#globalBalance .lists a{color:#004B17;}
#globalBalance .buy_allmeny{
	color:#64765B;border-top:2px solid #BBEBA5;
}
#Balance_info{
	border-bottom:1px solid #004B1C;background:url(../images/Balance_bg.gif) repeat-y;
}
#Balance_info .address{color:#30A65D;}
#Balance_info .new_add{
	color:#30A65D;background:#4BC679;
}
#Balance_info .address_title{
	background:#DDF4E6;
	color:#19AC5D;border-bottom:1px solid #19AC5D;
}
#Balance_info .address_list{
	background:#fff;color:#19AC5D;border-bottom:1px solid #4BC679;
}
#Balance_info table.address_list td{
	border-right:1px solid #4BC679;border-bottom:1px solid #4BC679;
}
#Balance_info table.address_list .send_title td{
	border-right:1px solid #4BC679;border-bottom:1px solid #4BC679;
}
#Balance_info table.address_list .send_title td.handel{
	border-right:none;
}
#Balance_info table.address_list .list td{
	border-bottom:none;
}

#Balance_info .item_price{
	color:#4BC679;background:#DDF4E6;
}
#Balance_info .order_integral{color:#fff;}
#Balance_info .item_price .sum_meny{color:#004B1C}
#globalBalance .back_home a:hover{color:#19AC5C;}
/*  ==================== My Setting ====================  */
#setting{
	border:1px solid #909592;color:#85848C;
}
.set-box li.area select{
	border:1px solid #7F9DB9;
}
.set-box li.accessories select{
	border:1px solid #7F9DB9;
}
.submits span{
	background:url(../img/green/submit.gif) no-repeat 100% -21px;
}
.submits span input{
	background:url(../img/green/submit.gif) 0 0 no-repeat;border:0;color:#004B1C;
}
/*==================== Menber Login =========================*/
#login-box{
	border:1px solid #909592;
}
#login-box h1{color:#33AD64;}
.menber-login .box{
	border-left:1px solid #AEFFAE;border-right:1px solid #AEFFAE;background:#F5F5F5;
}
.menber-login .box dl{color:#34AC61;}
.menber-login .box dd input{
	border:1px solid #B3B3B3;color:#34AC61;
}
.menber-login .box dd a{color:#34AC61;}
.menber-login .box dd.vidata input{
	border:1px solid #B3B3B3;
}
dd.vidata img{
	border:1px solid #949695;
}
.box .submit-btn a{
	background:url(../img/green/login-submit.gif) no-repeat;color:#FFF;
}
.login-banner li{color:#9EA09F;}
#login-box .cart-login{
	border-right:1px solid #DDDDDD;
}


/*================== Left ====================*/
.category_box .box{
	border-left:1px solid #B8D5B7;border-right:1px solid #B8D5B7;background:#ffffff;
}
.category_box h3{
	background:url(../img/green/category.gif) 0 -29px repeat-x;color:#fff;
}
.category_box h3 .l{
	background:url(../img/green/category.gif) 0 0 no-repeat;
}
.category_box h3 .r{
	background:url(../img/green/category.gif) 0 -58px no-repeat;
}
ul.left_menus .Nav{height:100%;}
ul.left_menus .Nav a{padding:1px 0 1px 40px;color:#008833;}
ul.left_menus .Nav a:hover{background:url(../img/green/over_bg.gif) bottom no-repeat;}
.category_box .Help ul li a{
	background:none;color:#20BE63;
}
/*================== Home item_list ====================*/
#container #Item_List{
	border:1px solid #909592;
}
#Item_List ul li .info .name a{color:#077C4D;}
#Item_List ul li .info .Price{color:#6D6D6D;}
#Item_List ul li .info .stow{color:#20BE63;}
#Item_List ul li .info .stow a{color:#20BE63;}
#Item_List ul li .pic img{
	border:1px solid #ccc;
}
/*================== Home News ====================*/
#News p.text{color:#20BE63;}
/*  ==================== advaearch/login ====================  */
#advanced_search .title,#User_Login .title,#language .title{
	background:url(../img/green/login_title.png) no-repeat;color:#fff;
}
#User_Login .keywords{
	background:#FFFFFF;border-right:1px solid #909592;border-left:1px solid #909592;
}
#advanced_search .keywords{
	background:#FFFFFF;border-right:1px solid #909592;border-left:1px solid #909592;
}
#advanced_search .keywords dl dt{color:#34AC61;}
#User_Login .keywords dl dt{color:#34AC61;}
#advanced_search .keywords dl dd .enter,#User_Login .keywords dl dd .enter{color:#64765B;}
#advanced_search .keywords dl dd .selects,#User_Login .keywords dl dd .selects{color:#64765B;}
#advanced_search .keywords dl dd .Price,#User_Login .keywords dl dd .Price{color:#64765B;}
#advanced_search .keywords dl dd span,#User_Login .keywords dl dd span{color:#7D9BBD;}
#advanced_search .keywords dl .passbox img,#User_Login .keywords dl .passbox img{
	border:1px solid #949695;
}
#User_Login .keywords dl .logon a{
	background:url(../img/green/logon_img.gif) no-repeat;color:#fff;
}
#panel_login_message{color:#f00;}
.keywords dl .forget_pass a{color:#34AC61;}
.logon_input{
	border:1p solid #A1D4E7;
}
/*  ==================== catedory_products ====================  */
#Right #Item_ListBox{
	border:1px solid #004B1C;
}
#Right .View_item{
	color:#004B1C;background:#BBEBA5;
}
#Right .View_item .select_view select{color:#535353;}
#Item_ListBox .Title_Item{
	color:#16A45A;background:#DDF4E6;
}
#Item_ListBox .Title_Item .select_Territory select{color:#535353;}
#Item_ListBox ul li .pic img{
	border:1px solid #E3E3E3;
}
#Item_ListBox ul li .right .item_info{color:#16A45A;}
.right .item_info .name{color:#004B1C;}
.right .item_info .name a{color:#004B1C;}
.right .item_info .Price{color:#16A45A;}
#Item_ListBox ul li .right .btn_list{color:#0756A3;}
/*  ==================== ur_here ====================  */
#ur_here,#main_right #ur_here{color:#40A666;}
#ur_here a,#main_right #ur_here a{color:#40A666;}
/*  ==================== pager ====================  */
#pager p{color:#004B1C;}
#pager p a{color:#16A45A;}
#pager p a:hover{color:#004B1C;}
#pager span.totally{color:#004B1C;}
/*========================= Brands_list ==========================*/
#globalBrand{
	border:1px solid #004B1C;
}
#globalBrand h1{
	background:#DDF4E6;color:#4BC679;
}
.Brand_list p span a:hover{color:#004B1C;}
.Brand_list p span a{color:#40A666;}

/*  ==================== carts ====================  */

#Right #Products{
	background:#fff;border:1px solid #909592;
}
#Products .ur_here{color:#40AAFE;}
#Products .ur_here a{color:#40AAFE;}
#Products .Titles{
	height:50px;width:741px;
}
#Products .Title_list{
	color:#20BE63;border-bottom:1px solid #004B1C;
}
#Products #Item_box{
	border-bottom:1px solid #909592;
}
#Item_box .Item_info{color:#004B1C;}
#Item_box .Item_info a{color:#004B1C;}
#Item_box .Item_info .pic img{
	border:1px solid #eee;
}
#Item_box .Item_Price span{color:#004B1C;}
#Item_box .Item_Price .Price{color:#03B746;}
#Item_box .Item_Price .save{color:#FF9C01;}
#Item_box .Number_select .Number input{
	border:none;background:none;color:#004B1C;
}
#Item_box .Saves .Number{color:#004B1C;}
#Item_box .Sums .Number{color:#004B1C;}
#Products #balance span{color:#20BE63;}
/*========================= articles ==========================*/
.information h1 .more a,.activity_column h1 .more a{color:#00FF78;}
.information .infos h2{color:#19AC5D;}
.information .infos{
	border:1px solid #004B1C;
}
.information .infos .txt{color:#8F8F8F;}
.activity_column h1{
	background:url(../img/green/clunm_bg.gif) left no-repeat;
}
.activity_column .main{
	border:1px solid #004B1C;
}
.main .option_nav li.no_over{
	/*background:url(../img/green/option_bg.gif) no-repeat;*/
}
.activity_column .main .subject{
	border-bottom:1px dashed #C6C6C6;
}
/*========================= carts checkout ==========================*/
#globalBalance{
	border-top:1px solid #004B1C;background:url(../img/green/Balance_bg.gif) repeat-y;
}
#globalBalance .buy_title{color:#30A65D;}
#globalBalance .list_title{
	border-bottom:2px solid #BBEBA5;color:#407B38;
}
#globalBalance .list_title .pic img{
	border:1px solid #E2E2E2;
}
#globalBalance .lists{color:#64765B;}
#globalBalance .lists a{color:#004B17;}
#globalBalance .buy_allmeny{
	color:#64765B;border-top:2px solid #BBEBA5;
}
#Balance_info{
	border-bottom:1px solid #004B1C;background:url(../img/green/Balance_bg.gif) repeat-y;
}
#Balance_info .address{color:#30A65D;}
#Balance_info .new_add{
	color:#30A65D;background:#4BC679;
}
#Balance_info .address_title{
	background:#DDF4E6;color:#19AC5D;border-bottom:1px solid #19AC5D;
}
#Balance_info .address_list{
	background:#fff;color:#19AC5D;border-bottom:1px solid #4BC679;
}
#Balance_info table.address_list td{
	border-right:1px solid #4BC679;border-bottom:1px solid #4BC679;
}
#Balance_info table.address_list .send_title td{
	border-right:1px solid #4BC679;border-bottom:1px solid #4BC679;
}
#Balance_info table.address_list .send_title td.handel{
	border-right:none;
}
#Balance_info table.address_list .list td{
	border-bottom:none;
}

#Balance_info .item_price{
	color:#4BC679;background:#DDF4E6;
}
#Balance_info .order_integral{color:#fff;}
#Balance_info .item_price .sum_meny{color:#004B1C}
.Balance_alltitle{
	background:url(../img/green/balancel_bg.png) left no-repeat;
}
#globalBalance .back_home a:hover{color:#19AC5C;}
/*==================== Language =========================*/
#language ul{
	border-left:1px solid #909592;border-right:1px solid #909592;background:#fff;
}
#language li img{border:1px solid #e1e1e1;}
/*========================= Search-out ==========================*/
#noproducts{
	border:1px solid #004B1C;
}
#noproducts p{color:#0CB152;}
/*========================= History ==========================*/

.history ul li .pic img{
	border:1px solid #eee;
}
.history ul li .price{color:#004B1C;}
/*  ==================== Menber Center ====================  */
#infos #wellcom_info{color:#999;}
#infos #wellcom_info p.atte{color:#004B1C;}
#infos #wellcom_info p.atte a{color:#656565;}
#infos #wellcom_info h2{color:#18AA5C;}
#infos .affiche{
	color:#17A65B;background:#E8F4ED;border:1px solid #A2D9B6;border-left:none;border-right:none;
}
#infos #money_info{color:#18AB5C;}
#Products_box #infos{
	border:1px solid #909592;
}
/*  ==================== Favorites ====================  */
#Item_box .Item_info .info span.item_name{color:#004B1C;}
#Item_box .mart .Products_Price{color:#16A45A;}
#Item_box .Number_select .goodprice{color:#f00;}
#Products .collection{
	color:#20BE63;border-bottom:1px solid #909592;
}
#Item_box .good_price{color:#f00;
}
/*  ==================== 我的订单 ====================  */
#order_box{
	border:1px solid #909592;
}
#order_box p.note{
	color:#004B1C;
}
#order_box p.note .query select{
	border:1px solid #008732;color:#018730;
}
#order_box p.title{
	color:#18AB5C;border-bottom:1px solid #909592;
}
#order_box p.order_list{
	color:#18AB5C;border-bottom:1px solid #909592;background:#fff;
}
/*===================Tab======================*/
ul.content_tab li{
	color:#fff;background:url(../img/green/collection.gif);
}
ul.content_tab li.hover{
	color:#09774E;background:url(../img/green/collection_over.gif);
}
/*  ==================== my addresses ====================  */
#reguser_gut01 ul li span.adrees textarea{border:1px solid #78828D;}
#reguser_gut01 ul li span.addrees_territory select{
	border:1px solid #78828D;
}
#reguser_gut01 .add_title{color:#004B1C;}
#reguser_gut01 .aleter{
	background:#BBEBA5;color:#004B1C;
}
#reguser_gut01 table tr{color:#19AC5D;}
#reguser_gut01 table tr td{
	border-bottom:1px solid #909592;border-right:1px solid #909592;
}
#reguser_gut01 table tr td.btn_list{
	border-right:none;
}
#Right .addrees_box{
	border:1px solid #909592;
}
h2.add-addresses{
	background:url(../img/green/adddresses-title.gif) repeat-x;
}
h2.add-addresses span{color:#fff;}
h2.add-addresses a.close{
	background:url(../img/green/close_img.png) no-repeat;
}
h2.add-addresses a.close:hover{
	background:url(../img/green/close_img_over.png) no-repeat;
}
/*==================== 购买成功 =========================*/
#buyshop_box ul{
	border-bottom:1px solid #E1E1E1;
}
#buyshop_box li.pic img{
	border:1px solid #E1E1E1;
}
#buyshop_box .name a{color:#077C4D;}
#buyshop_box p{color:#077C4D;}
#buyshop_box .shops{
	border-left:1px solid #909592;border-right:1px solid #909592;background:#fff;
}
#buyshop_box p.buy_btn a{
	color:#fff;background:url(../img/green/checkout_btn.gif) no-repeat;
}
/*===================Login out======================*/
#loginout h1{
	background:url(../img/green/loginout.png) repeat-x;
}
#loginout h1 b{ color:#fff;}
#loginout .login-alettr{
	border-bottom:1px solid #E6E6E6;color:#40A563;
}
#loginout .btns a{
	background:url(../img/green/loginout-btn.gif) no-repeat;color:#fff;
}
/*=============My Friends==================*/
ul.friend_title{
	color:#19AC5D; background:#fff;border-top:1px solid #70D66D;border-bottom:1px solid #70D66D;
}
cite.new_group a{color:#fff;}
ul.friend_list{color:#999999;}
.cat_friend{
	color:#4FC14D; background:#fff;
}
.note_sum{
	color:#17A65B; background:#E9FFDF;
}
.myfriends{
	background:#4FC14D; color:#fff;position:relative;
}
.myfriends a{color:#fff;}
.cat_friend .add_friend{color:#909592;}
.note_sum .add_friend a{color:#18AB5C;}
.add_froend_box li{color:#999999;}
.add_froend_box li input{border:1px solid #909592;}
.add_froend_box li select{border:1px solid #909592;}
.add_froend_box li.submit_btn a{
	background:url(../img/green/cencle.gif) no-repeat;color:#004B1C;
}
.addgroup a{
	background:url(../img/green/addgroup.gif) no-repeat;color:#fff;
}
p.droup_bg b{color:#9A9A9A;}
.addgroup_box{
	border-left:1px solid #909592;border-right:1px solid #909592;background:#fff;
}
/*==================== Points ======================*/
ul.integral_title{
	border-bottom:1px solid #909592;color:#19AC5D;
}
.integral_list ul.integral_title{
	background:#fff;border:0;border-bottom:1px solid #909592;
}
.integral_list ul.integral_title li.integral {
	color:#004B1C;
}
.last_integral{color:#0E7E2E;}
.last_integral span{color:#FF6C00;}
.history_detail{
	color:#004B1C;
}
.history_detail input.text{
	border:1px solid #999;
}
.history_detail span select{
	border:1px solid #008833;color:#008833;
}
.find-btns input.find{
	background:url(../img/green/find.gif) 0 0 no-repeat;border:0;color:#0A7B4F;
}
.find-btns a{
	background:url(../img/green/find.gif) 100% -20px no-repeat;
}
.query_submit{background:url(../img/green/query.gif) no-repeat;border:none;color:#0A7B4F;}
/*==================== payment ======================*/
.many_input{color:#909592;}
.many_input input{border:1px solid #909592;}
.payment_table{border-top:1px solid #E5E5E5;}
.payment_table td{
	padding:5px;color:#909592;border-bottom:1px solid #E5E5E5;
}
.payment_table td.border_right{
	border-right:1px solid #E5E5E5;
}
.payment_table .explain_box{
	border:1px solid #E5E5E5;background:#E9FFDF;color:#16A45A;
}
/*==================== 已购买商品 ======================*/
ul.buy_products_title{
	border-bottom:1px solid #909592;
}
ul.buy_products_title li{color:#16A45A;}
ul.products_list{
	background:#fff;border-bottom:1px solid #909592;
}
ul.products_list .pic img{
	border:1px solid #E7E7E7;
}
ul.products_list .cat_name{color:#004B1C;}
ul.products_list .cat_name a{color:#004B1C;}
ul.products_text{
	background:#fff;border-bottom:1px solid #909592;
}
ul.products_text span.name a{color:#004B1C;}
/*=================Order Detail==================*/
.order_state dd{
	border-bottom:1px solid #DADADA;color:#808080;
}
.order_state dt{color:#18AA5C;}
#Edit_info ul.already_shop li{color:#66765B;}
ul.already_shop li.name p.pic img{
	border:1px solid #E3E3E3;
}
#Edit_info ul.already_shop li.name p.item_name{color:#014A1D}
.cardnumber{border-bottom:1px dashed #909592}
li.name p.item_name a{color:#014A1D}
.already_box{
	 border-bottom:2px solid #BCEBA5; border-top:2px solid #BCEBA5;
}
ul.address_info li.lang_title{color:#05754F;}
ul.address_info li.filed{color:#19AC5C;}
#Edit_info p.balances{color:#808080;}
p.balances b{color:#FC5F00;}
#Edit_info p.saves_many{color:#64775B;}
/*=========================Admin Iformations ==========================*/
.home_main{
	border:1px solid #CCCCCC;background:#F0F0F0;
}
.informations{
	border:1px solid #E0E0E0; background:#F9F9F9;
}
.informations p.handdle a{
	color:#20A24F;
}
/*按钮*/
.btn_list a{
	color:#fff;background:url(../img/green/stow_img.gif) 100% -20px no-repeat;
}
.btn_list a span{
	background:url(../img/green/stow_img.gif) left top no-repeat;
}
.btn_list a:hover{
	background:url(../img/green/stow_img_over.gif) 100% -20px no-repeat;color:#fff;
}
.btn_list a:hover span{
	background:url(../img/green/stow_img_over.gif) left top no-repeat;
}
.calendar{border:0;background:none;}
.big_buttons input{background:url(../img/green/add_adrees.gif) left top no-repeat;color:#fff;border:none;}
.big_buttons span{
	background:url(../img/green/add_adrees.gif) 100% -38px no-repeat;
}

