/*****************************************************************************
 * SV-CART CSS
 * ===========================================================================
 * 版权所有  上海实玮网络科技有限公司，并保留所有权利。
 * 网站地址: http://www.seevia.cn
 * ---------------------------------------------------------------------------
 * 这不是一个自由软件！您只能在不用于商业目的的前提下对程序代码进行修改和使用；
 * 不允许对程序代码以任何形式任何目的的再发布。
 * ===========================================================================
 * $开发: 上海实玮$
 * $Id: index.php 900 2009-03-16 12:10:20Z huangbo $
*****************************************************************************/
body {background:#fff;}
a{text-decoration:none;color:#666;}
.float_l{float:left;}.float_r{float:right}
.margin_sid{margin-left:5px;margin-right:5px;}
.radio{margin:-5px 3px 0 0;vertical-align:middle;position:relative;}
input.text_input{border:1px solid #2F71AF;padding-top:1px;padding-bottom:1px;font-family:arial;}
form{padding:0;margin:0;}
.font_14{font-size:14px;}
.cursor{cursor:pointer;}
.vmiddle{vertical-align:middle;}
hr{border:none;border-top:1px solid #6CB9DF;}

/*Color*/
.green_8{color:#889D95;}
.green_3{color:#2B69B3;}
.color_4{color:#2B69B3;}
.color_5{color:#535353;}
.color_f9{color:#B9B8B9;}
.color_53{color:#2B69B3;}
.font_red{color:#ff0000;}

h5 {
	border-bottom:1px solid #6CB9DF;
}

.border{border:1px solid #A1D0EB}
/*=========================header==========================*/
.help_foot_article h6{
	color:#2B69B3;
}
#header{
	background:#fff;border-bottom:5px solid #1EBDF6;
}

#footer{
	background:#fff;color:#B4B4B4;border-top:5px solid #1EBDF6;
}
#footer .link{
	color:#2B69B3;
}
#footer .link a{
	color:#2B69B3;
}
#footer .copyRight font{
	margin-right:4px;
}
.submit_btn input.submit{
	background:url(../img/blue/cencle.gif) no-repeat;border:0;
}
.submit_btn input.reset{
	background:url(../img/blue/btn_reset.gif) no-repeat;border:0;
}

h1.headers{
	color:#206EB0;background:url(../img/blue/headers.gif) 0 -36px repeat-x;
}
h1.headers span.l{
	background:url(../img/blue/headers.gif) 0 0 no-repeat;
}
h1.headers span.r{
	background:url(../img/blue/headers.gif) 100% -72px no-repeat;
}

/*==================Header====================*/
.member{
	background:#fff;
}
#search .enter_text{
	border:1px solid #535353;
}
.tools{
	background:#fff;
}
/*================== Left ====================*/
.category_box .box{
	border-left:1px solid #D2E8F4;border-right:1px solid #D2E8F4;
}
.category_box h3{
	background:url(../img/blue/category.gif) 0 -29px repeat-x;color:#5086C4;
}
.category_box h3 .l{
	background:url(../img/blue/category.gif) 0 0 no-repeat;
}
.category_box h3 .r{
	background:url(../img/blue/category.gif) 0 -58px no-repeat;
}
ul.left_menus .Nav a{color:#60A7DF;}
ul.left_menus .Nav a:hover{background:url(../img/blue/over_bg.gif) bottom no-repeat;}
.category_box .Help ul li a{
	background:none;color:#6197C4;
}
/*================== Home item_list ====================*/
#container #Item_List{
	border:1px solid #6CB9DF;
}
#Item_List ul li .info .name a{
	color:#60A7DF;
}
#Item_List ul li .info .Price{
	color:#6D6D6D;
}
#Item_List ul li .info .stow{
	color:#6197C4;
}
#Item_List ul li .info .stow a{
	color:#6197C4;
}
#Item_List ul li .pic img{
	border:1px solid #ccc;
}
/*================== Home News ====================*/
#News p.text{
	color:#6CB9DF;
}
/*  ==================== advaearch/login ====================  */
#advanced_search .title,#User_Login .title,.drag .title{
	background:url(../img/blue/login_title.gif) no-repeat;color:#2B69B3;
}
#User_Login .keywords{
	background:#FFFFFF;border-right:1px solid #A1D0EB;border-left:1px solid #A1D0EB;
}
#advanced_search .keywords{
	background:#FFFFFF;border-right:1px solid #A1D0EB;border-left:1px solid #A1D0EB;
}
#advanced_search .keywords dl dt{
	color:#6197C4;
}
#User_Login .keywords dl dt{color:#6197C4;}
#advanced_search .keywords dl dd .enter,#User_Login .keywords dl dd .enter{
	color:#64765B;
}
#advanced_search .keywords dl dd .selects,#User_Login .keywords dl dd .selects{
	color:#64765B;
}
#advanced_search .keywords dl dd .Price,#User_Login .keywords dl dd .Price{
	color:#64765B;
}
#advanced_search .keywords dl dd span,#User_Login .keywords dl dd span{
	color:#7D9BBD;
}
#User_Login .keywords dl .logon a{
	background:url(../img/blue/logon_img.gif) no-repeat;color:#fff;
}
#panel_login_message{color:#FF6000;}
.keywords dl .forget_pass a{
	color:#6197C4;
}

.drag .box{
	border-left:1px solid #A1D0EB;border-right:1px solid #A1D0EB;background:#fff;color:#6197C4;
}
.language li img{
	border:1px solid #e1e1e1;
}

/*  ==================== catedory_products ====================  */
#Right #Item_ListBox{
	border:1px solid #2B69B3;
}
#Right .View_item{
	color:#2B69B3;background:#B3CDE3;
}
#Right .View_item .select_view select{
	color:#535353;
}
#Item_ListBox .Title_Item{
	color:#6197C4;background:#DDF4E6;
}
#Item_ListBox .Title_Item .select_Territory select{
	color:#535353;
}
#Item_ListBox ul li .pic img{
	border:1px solid #E3E3E3;
}
#Item_ListBox ul li .right .item_info{
	color:#6197C4;
}
.right .item_info .name{
	color:#2B69B3;
}
.right .item_info .name a{
	color:#2B69B3;
}
.right .item_info .Price{
	color:#6197C4;
}
#Item_ListBox ul li .right .btn_list{
	color:#0756A3;
}
/*  ==================== ur_here ====================  */
#ur_here,#ur_here a{color:#6197C4;}
/*  ==================== pager ====================  */
#pager p{
	color:#2B69B3;
}
#pager p a{
	color:#6197C4;
}
#pager p a:hover{
	color:#2B69B3;
}
#pager .totally{color:#6197C4;}
/*========================= Brands_list ==========================*/
#globalBrand{
	border:1px solid #2B69B3;
}
#globalBrand h1{
	background:#DDF4E6;color:#4BC679;
}
.Brand_list p span a:hover{
	color:#2B69B3;
}
.Brand_list p span a{
	margin-left:5px;
	color:#6197C4;
}
/*  ==================== products ====================  */
#globalMain #main_left h1{
	color:#6197C4;
}
#main_left .pic{
	background:url(../img/blue/Shadow_bg.gif) right bottom;
}
#main_left .pic img{
	border:1px solid #2B69B3;
}
#globalMain #main_right h1{
	color:#fff;background:url(../img/blue/iteminfo_title.gif) no-repeat left;
}
#main_right #item_infos{
	border:1px solid #2B69B3;
}
.item_box ul li{
	color:#808080;
}
.item_box ul li.btn_list{
	color:#808080;
}
.item_box ul li .price{
	color:#FF6502;
}
.item_box h2{
	color:#6197C4;
}
#item_info h2{
	color:#6197C4;
}
#item_info .infos{
	color:#808080;
}
#main_right #Correlation .item_title,#main_right #Correlation_article .item_title{
	background:#fff;color:#6197C4;
}
#item_info .yui-content{
	border-top:1px solid #2B69B3;
}
/*  ==================== carts ====================  */

#Right #Products{
	background:#fff;border:1px solid #6CB9DF;
}
#Products .ur_here{
	color:#40AAFE;
}
#Products .ur_here a{
	color:#40AAFE;
}
#Products .Title_list{
	color:#6197C4;border-bottom:1px solid #2B69B3;
}
#Products #Item_box{
	border-bottom:1px solid #6CB9DF;
}
#Item_box .Item_info{
	color:#2B69B3;
}
#Item_box .Item_info a{
	color:#2B69B3;
}
#Item_box .Item_info .pic img{
	border:1px solid #eee;
}
#Item_box .Item_Price span{
	color:#2B69B3;
}
#Item_box .Item_Price .Price{
	color:#03B746;
}
#Item_box .Item_Price .save{
	color:#FF9C01;
}
#Item_box .Number_select .Number input{
	color:#2B69B3;
}
#Item_box .Saves .Number{
	color:#2B69B3;
}
#Item_box .Sums .Number{
	color:#2B69B3;
}
#Products #balance span{
	color:#6197C4;
}
/*========================= articles ==========================*/
.information h1 .more a,.activity_column h1 .more a{
	color:#00FF78;
}
.information .infos h2{
	color:#2B69B3;
}
.information .infos{
	border:1px solid #2B69B3;
}
.information .infos .txt{
	color:#8F8F8F;
}
.activity_column h1{
	background:url(../img/blue/clunm_bg.gif) left no-repeat;
}
.activity_column .main{
	border:1px solid #2B69B3;
}
.activity_column .main .subject{
	border-bottom:1px dashed #C6C6C6;
}
/*========================= carts checkout ==========================*/
#globalBalance .buy_title{
	color:#30A65D;
}
#globalBalance .list_title{
	border-bottom:2px solid #BBEBA5;color:#407B38;
}
#globalBalance .list_title .pic img{
	border:1px solid #E2E2E2;
}
#globalBalance .lists{
	border-bottom:none;color:#64765B;
}
#globalBalance .lists a{
	color:#004B17;
}
#globalBalance .buy_allmeny{
	color:#64765B;border-top:2px solid #BBEBA5;
}
#Balance_info{
	border-bottom:1px solid #2B69B3;background:url(../img/blue/Balance_bg.gif) repeat-y;
}
#Balance_info .address{
	color:#30A65D;
}
#Balance_info .new_add{
	color:#30A65D;background:#4BC679;
}
#Balance_info .address_title{
	background:#DDF4E6;color:#2B69B3;border-bottom:1px solid #19AC5D;
}
#Balance_info .address_list{
	background:#fff;color:#2B69B3;border-bottom:1px solid #4BC679;
}
#Balance_info table.address_list td{
	border-right:1px solid #4BC679;border-bottom:1px solid #4BC679;
}
#Balance_info table.address_list .send_title td{
	border-right:1px solid #4BC679;border-bottom:1px solid #4BC679;
}
#Balance_info table.address_list .send_title td.handel{
	border-right:none;
}
#Balance_info table.address_list .list td{
	border-bottom:none;
}

#Balance_info .item_price{
	color:#4BC679;background:#DDF4E6;
}
#Balance_info .order_integral{
	color:#fff;
}
#Balance_info .item_price .sum_meny{
	color:#2B69B3
}
.Balance_alltitle{
	background:url(../img/blue/balancel_bg.png) left no-repeat;
}
#globalBalance .back_home a:hover{
	color:#60B7D1;
}
/*========================= Search-out ==========================*/
#noproducts{
	border:1px solid #2B69B3;
}
#noproducts p{
	color:#0CB152;
}
/*========================= History ==========================*/

.history ul li .pic img{
	border:1px solid #eee;
}
.history ul li .price{
	color:#2B69B3;
}
/*  ==================== Menber Center ====================  */
.infos #wellcom_info{
	color:#6CB9DF;
}
.infos #wellcom_info p.atte{
	color:#2B69B3;
}
.infos #wellcom_info p.atte a{
	color:#6CB9DF;
}
.infos #wellcom_info h2{
	color:#6CB9DF;
}
.member_infos .box,
.member_infos .box a{color:#6CB9DF;}
.member_infos .box ul{
	border-bottom:1px solid #6CB9DF;
}
.infos .affiche{
	color:#6CB9DF;background:#EEF7FB;border:1px solid #6CB9DF;border-left:none;border-right:none;
}
.infos #money_info{
	color:#206EB0;
}
#Products_box .infos{
	border:1px solid #6CB9DF;
}
/*  ==================== Favorites ====================  */
#Item_box .Item_info .info span.item_name{
	color:#2B69B3;
}
#Item_box .mart .Goods_Price{
	color:#6197C4;
}
#Item_box .Number_select .goodprice{
	color:#f00;
}
#Products .collection{
	color:#6197C4;border-bottom:1px solid #6CB9DF;
}
#Item_box .good_price{
	color:#f00;
}
/*  ==================== 我的订单 ====================  */
#order_box{
	border:1px solid #6CB9DF;
}
#order_box p.note{
	color:#2B69B3;
}
#order_box p.note .query select{
	border:1px solid #008732;color:#018730;
}
#order_box p.title{
	color:#206EB0;border-bottom:1px solid #6CB9DF;
}
#order_box p.order_list{
	color:#206EB0;border-bottom:1px solid #6CB9DF;background:#fff;
}
/*===================Tab======================*/
ul.content_tab li{
	color:#fff;background:url(../img/blue/collection.gif);
}
ul.content_tab li.hover{
	color:#09774E;background:url(../img/blue/collection_over.gif);
}
/*  ==================== my addresses ====================  */
.reguser_gut01 ul li span.adrees textarea{
	border:1px solid #78828D;
}
.reguser_gut01 ul li span.addrees_territory select{
	border:1px solid #78828D;
}
.reguser_gut01 .add_title{
	color:#2B69B3;
}
.reguser_gut01 .aleter{
	background:#B3CDE3;color:#2B69B3;
}
.reguser_gut01 table tr{
	color:#2B69B3;
}
.reguser_gut01 table tr td{
	border-bottom:1px solid #6CB9DF;border-right:1px solid #6CB9DF;
}
.reguser_gut01 table tr td.btn_list{
	border-right:none;
}
.addrees_box{
	border:1px solid #6CB9DF;
}
h2.add-addresses{
	background:url(../img/blue/adddresses-title.gif) repeat-x;
}
h2.add-addresses span{
	color:#2B69B3;
}
h2.add-addresses a.close{
	background:url(../img/blue/close_img.gif) no-repeat;
}
h2.add-addresses a.close:hover{
	background:url(../img/blue/close_img_over.gif) no-repeat;
}
/*==================== 购买成功 =========================*/
#buyshop_box ul{
	border-bottom:1px solid #E1E1E1;
}
#buyshop_box li.pic img{
	border:1px solid #E1E1E1;
}
#buyshop_box .name a{
	color:#60A7DF;
}
#buyshop_box p{
	color:#60A7DF;
}
#buyshop_box .shops{
	border-left:1px solid #6CB9DF;border-right:1px solid #6CB9DF;background:#fff;
}
#buyshop_box p.buy_btn a{
	color:#2B69B3;background:url(../img/blue/checkout_btn.gif) no-repeat;
}
/*===================Login out======================*/
.loginout h1{
	background:url(../img/blue/loginout.gif) repeat-x;color:#2B69B3
}
.loginout h1 b{
	 color:#fff;color:#2B69B3
}
.loginout .login-alettr{
	border-bottom:1px solid #E6E6E6; color:#2B69B3;
}
.loginout .btns a{
	background:url(../img/blue/loginout-btn.gif) no-repeat;color:#2B69B3;
}
/*=============My Friends==================*/
ul.friend_title{
	color:#2B69B3; background:#fff;border-top:1px solid #6CB9DF;border-bottom:1px solid #6CB9DF;
}
cite.new_group a{color:#5086C4;}
ul.friend_list{
	color:#999999;
}
.cat_friend{
	color:#1EBDF6; background:#fff;
}
.note_sum{
	 color:#17A65B; background:#EEF7FB;
}
.myfriends{
	background:#1EBDF6; color:#fff;
}
.myfriends a{
	color:#fff;
}
.cat_friend .add_friend{
	color:#6CB9DF;
}
.note_sum .add_friend a{
	color:#206EB0;
}
.add_froend_box li{
	color:#999999;
}
.add_froend_box li input{
	border:1px solid #6CB9DF;
}
.add_froend_box li select{
	border:1px solid #6CB9DF;
}
.add_froend_box li.submit_btn a{
	background:url(../img/blue/cencle.gif) no-repeat;color:#2B69B3;
}
.addgroup a{
	background:url(../img/blue/addgroup.gif) no-repeat;color:#fff;
}
p.droup_bg b{color:#9A9A9A;}
.addgroup_box{border-left:1px solid #6CB9DF;border-right:1px solid #6CB9DF;background:#fff;}
/*==================== Points ======================*/
ul.integral_title{
	border-bottom:1px solid #6CB9DF;color:#2B69B3;
}
.integral_list ul.integral_title{
	background:#fff;border:0;border-bottom:1px solid #6CB9DF;
}
.integral_list ul.integral_title li.integral {
	color:#2B69B3;
}
.last_integral{
	color:#2B69B3;
}
.last_integral span{
	color:#FF6C00;
}
.history_detail{
	color:#2B69B3;
}
.history_detail input.text{
	border:1px solid #999;
}
.history_detail span select{
	border:1px solid #2F71AF;color:#6197C4;
}
.find-btns input.find{
	background:url(../img/blue/find.gif) 0 0 no-repeat;border:0;color:#2B69B3;
}
.find-btns a{
	background:url(../img/blue/find.gif) 100% -20px no-repeat;
}
.query_submit{
	background:url(../img/blue/query.gif) no-repeat;border:none;color:#2B69B3;
}
/*==================== payment ======================*/
.many_input{
	color:#909592;
}
.many_input input{
	border:1px solid #6CB9DF;
}
.payment_table{border-top:1px solid #E5E5E5;}
.payment_table td{
	padding:5px;color:#909592;border-bottom:1px solid #E5E5E5;
}
.payment_table td.border_right{
	border-right:1px solid #E5E5E5;
}
.payment_table .explain_box{
	border:1px solid #E5E5E5; background:#EEF7FB;color:#6197C4;
}
/*==================== 已购买商品 ======================*/
ul.buy_products_title{
	border-bottom:1px solid #6CB9DF;
}
ul.buy_products_title li{
	color:#6197C4;
}
ul.products_list{
	background:#fff;border-bottom:1px solid #6CB9DF;
}
ul.products_list .pic img{
	border:1px solid #E7E7E7;
}
ul.products_list .cat_name{
	color:#2B69B3;
}
ul.products_list .cat_name a{
	color:#2B69B3;
}
ul.products_text{
	background:#fff;border-bottom:1px solid #6CB9DF;
}
ul.products_text span.name a{color:#2B69B3;}
/*=================Order Detail==================*/
.order_state dd{
	border-bottom:1px solid #DADADA;color:#808080;
}
.order_state dt{
	color:#206EB0;
}
.Edit_info ul.already_shop li{
	color:#60A7DF;
}
}
ul.already_shop li.name p.pic img{
	border:1px solid #E3E3E3;
}
.Edit_info ul.already_shop li.name p.item_name{
	color:#60A7DF
}
.cardnumber{border-bottom:1px dashed #909592}
li.name p.item_name a{
	color:#60A7DF
}
.already_box{
	 border-bottom:2px solid #D2E8F4; border-top:2px solid #D2E8F4;
}
ul.address_info li.lang_title{
	color:#60A7DF;
}
ul.address_info li.filed{
	color:#60B7D1;
}
.Edit_info p.balances{
	color:#808080;
}
p.balances b{
	color:#FC5F00;
}
.Edit_info p.saves_many{
	color:#60A7DF;
}
/*=========================Admin Iformations ==========================*/
.home_main{
	border:1px solid #CCCCCC;background:#F0F0F0;
}
.informations{
	border:1px solid #E0E0E0; background:#F9F9F9;
}
.informations p.handdle a{
	color:#6CB9DF;
}
/*按钮*/
.btn_list a{
	color:#5086C4;background:url(../img/blue/stow_img.gif) 100% -20px no-repeat;
}
.btn_list a span{
	background:url(../img/blue/stow_img.gif) left top no-repeat;
}
.btn_list a:hover{
	background:url(../img/blue/stow_img_over.gif) 100% -20px no-repeat;color:#fff;
}
.btn_list a:hover span{
	background:url(../img/blue/stow_img_over.gif) left top no-repeat;
}
.btn_list a input{
	background:url('../img/blue/stow_img.gif') left top no-repeat;border:none;color:#5086C4;
}
.btn_list a:hover input{
	background:url('../img/blue/stow_img_over.gif') left top no-repeat;color:#fff;
}

.calendar{
	border:0;background:none;
}
.big_buttons input{
	background:url(../img/blue/add_adrees.gif) left top no-repeat;border:0;color:#2B69B3;
}
.big_buttons span{
	background:url(../img/blue/add_adrees.gif) 100% -38px no-repeat;
}

/*====================== 用户注册 =========================*/
.reguser_gut01 {
	background:url(../img/blue/reg_bg.gif) top repeat-y;
}
.reguser_gut01_01 ul.reg_flow li{
	color:#206EB0;
}
ul.reg_flow li.over{
	background:url(../img/blue/reg_flow.gif) left top no-repeat;
}
ul.reg_flow li.over span{
	background:url(../img/blue/reg_flow.gif) 100% -51px no-repeat;color:#fff;
}
ul.reg_flow li.normal{background:url(../img/blue/reg_flow.gif) left -102px no-repeat;}
ul.reg_flow li.normal span{
	background:url(../img/blue/reg_flow.gif) 100% -153px no-repeat;
}

.reguser_gut01 ul {
	color:#848389;
}
.reguser_gut01 ul .sorty{
	mcolor:#9FA8AD;
}
.reguser_gut01 ul .sorty a{
	background:url(../img/blue/down_icon.gif) no-repeat;
}
.reguser_gut01 li input {
	border: 1px solid #B3B3B3;color:#848389;
}
.z_c{
	color:#808080;
}
.Agreement{
	border:1px solid #DEDEDE;
}
.reguser_gut01 .Agreement .text{
	color:#848389;
}
#reguser_box .Agreement_box{
	border-bottom:none;background:url(../img/blue/Agreement_bg.gif) repeat-y;
}
#reguser_box_user .Agreement_box{
	border-bottom:none;background:url(../img/blue/Agreement_bg.gif) repeat-y;
}
.reguser_gut01 #Title {
	color:#848389;
}
/*====================== 编辑个个人信息 =========================*/

.Edit_box .Edit_info {
	border:1px #6CB9DF solid;
}
.Edit_info_01 {
	color: #0b4b88;
}
.Edit_info_username {
	color: #0b4b88;
}

.Edit_info ul {
	color:#848389;
}
.Edit_info ul .sorty{
	color:#9FA8AD;
}
.Edit_info ul li span.Pass_mantis select{
	color: #333333;
}
.Edit_info li input {
	border: 1px solid #B3B3B3;color:#848389;
}
.ws_xx a{
	color:#0268CE;
}
.Agreement{
	border:1px solid #DEDEDE;
}
.Edit_info .Agreement p.text{
	color:#848389;
}
.Edit_box .Agreement_box{
	background:none;border-bottom:none;
}
.Edit_info #Title {
	color:#848389;
}
/*====================== 密码管理 =========================*/
#clew .clewtxt{
	color:#7F7F7F;
}
#clew .clewtxt span.bold{
	color:#f50;
}
/*  ==================== 用户中心留言 ====================  */
.Edit_info .massege p.msg{
	color:#64765B;
}
.user_msg p.msg_title{
	background:#EEF7FB;
}
.user_msg p{
	color:#206EB0;
}
.Edit_info p.note,.amend_address,.sufficient{
	color:#206EB0;
}
/*  ==================== 用户中心我的评论 ====================  */
.Edit_info .comment p{
	color:#206EB0;
}
.Edit_info .comment{
	background:#EAFFE0;
}
/*  ==================== 用户中心文章详细 ====================  */
.user_msg p.article span{
	color:#9D9D9D;
}
.user_msg p.article_time{
	background:#DDF4E6;
}
.user_msg p.article_time span{
	color:#9D9D9D;
}
#select_article{
	border-top:3px solid #DDF4E6;
}
#select_article p{
	color:#9D9D9D;
}
.article_title span.amenber_balances a{
	background:url(/user../img/blue/stow_img.gif) no-repeat;color:#fff;
}
#comments #user_comment p{
	color:#15A35B;
}
#comment_box p.textarea_box textarea{
	border:1px solid #BBEBA5;
}
#user_comment p.email .enter_txt input{
	border:1px solid #BBEBA5;
}
.article_items{
	border:1px solid #2B69B3;
}
.article_items h1.title_nobg{
	background:none;color:#6197C4;
}
/*  ==================== 用户中心文章列表 ====================  */
.user_msg p.article_title span{
	color:#6197C4;border-bottom:1px solid #fff;border-right:1px solid #fff;
}
.user_msg p.article_title span.add_time{
	border-right:none;
}
.user_msg #article_box p{
	color:#9D9D9D;
}
#article_box p.list .title a{
	color:#9D9D9D;
}
/*  ====================  ====================  */
#globalBalance .buy_title{
	color:#30A65D;
}
#globalBalance .list_title{
	border-bottom:2px solid #BBEBA5;color:#407B38;
}
#globalBalance .list_title .pic img{
	border:1px solid #E2E2E2;
}
#globalBalance .lists{
	border-bottom:none;color:#64765B;
}
#globalBalance .lists a{
	color:#004B17;
}
#globalBalance .buy_allmeny{
	color:#64765B;border-top:2px solid #BBEBA5;
}
#Balance_info{
	border-bottom:1px solid #2B69B3;background:url(../img/blue/Balance_bg.gif) repeat-y;
}
#Balance_info .address{
	color:#30A65D;
}
#Balance_info .new_add{
	color:#30A65D;background:#4BC679;
}
#Balance_info .address_title{
	background:#DDF4E6;color:#2B69B3;border-bottom:1px solid #19AC5D;
}

#Balance_info .address_list{
	background:#fff;color:#2B69B3;border-bottom:1px solid #4BC679;
}
#Balance_info table.address_list td{
	border-right:1px solid #4BC679;border-bottom:1px solid #4BC679;
}
#Balance_info table.address_list .send_title td{
	border-right:1px solid #4BC679;border-bottom:1px solid #4BC679;
}
#Balance_info .item_price{
	color:#4BC679;background:#DDF4E6;
}
#Balance_info .order_integral{
	color:#fff;
}
#Balance_info .item_price .sum_meny{
	color:#2B69B3
}
#globalBalance .back_home a:hover{
	color:#60B7D1;
}
/*  ==================== My Setting ====================  */
#setting{
	wborder:1px solid #6CB9DF;color:#85848C;
}
.set-box li.area select{
	border:1px solid #7F9DB9;
}
.set-box li.accessories select{
	border:1px solid #7F9DB9;
}
.submits span{
	background:url(../img/blue/stow_img.gif) no-repeat 100% -20px;
}
.submits span input{
	background:url(../img/blue/stow_img.gif) 0 0 no-repeat;border:0;color:#2B69B3;
}
/*==================== Menber Login =========================*/
#login-box h1{
	color:#206EB0;
}
.menber-login .box{
	border-left:1px solid #A1D0EB;border-right:1px solid #A1D0EB;background:#F5F5F5;
}
.menber-login .box dl{
	color:#5086C4;
}
.menber-login .box dd input{
	border:1px solid #B3B3B3;color:#5086C4;
}
.menber-login .box dd a{
	color:#5086C4;
}
.menber-login .box dd.vidata input{
	border:1px solid #B3B3B3;
}
dd.vidata img{border:1px solid #949695;}
.box .submit-btn a{
	background:url(../img/blue/login-submit.gif) no-repeat;color:#FFF;
}
.login-banner li{
	color:#9EA09F;
}
#login-box .cart-login{
	border-right:1px solid #DDDDDD;
}



/*buttons*/
.gray_btn a{
	background:url(../img/blue/find.gif) 100% -20px no-repeat;
}
.gray_btn a span{
	background:url(../img/blue/find.gif) 0 0 no-repeat;
}

.svcart-skin-g00 .container-close{
	background:url(../img/blue/close_img.gif) no-repeat right;
}
.svcart-skin-g00 .container-close:hover{
	background:url(../img/blue/close_img_over.gif) no-repeat right;
}
.svcart-skin-g00 .yui-simple-dialog .bd .yui-icon{
	background:url(../img/blue/close_img_over.gif) no-repeat 0 0;
}



body, h1 { margin:0;padding:0; } /* needed for known issue with Dom.getXY() in safari for absolute elements in positioned containers */
.clear{clear:both;line-height:0;height:0;overflow:hidden;display:block;}
#ysearch { text-align:center; }
#ysearchinput { position:static;width:20em; } /* to center, set static and explicit width: */
#ysearchcontainer { text-align:left;width:20em;font-family:arial;} /* to center, set left-align and explicit width: */
img, div, input,ul ,h1,span{behavior:url("/user/themed/SV_G00/css/iepngfix.htc")}
.table_data{
	background:#D0E7F3;color:#0167CC;
}
.table_data .rows{background:#ffffff;}