#header{
	min-width:1000px;width:expression((documentElement.clientWidth < 1000) ? "1000px" : "100%" );
}
#header .tools{
	background:#369557;height:100%;overflow:hidden !important;
}
.tools .logo{
	padding:0 0 0 10px;float:left;
}
.tools .toolsbar{
	text-align:right;float:right;padding:0 10px 0 0;font-family:tahoma;color:#fff;
}
.tools .toolsbar p{
	margin-top:6px;
}
.tools .toolsbar a{
	color:#fff;
}
.tools .toolsbar a:hover{
	color:#F5F747;
}
.tools .toolsbar span{
	margin:0 3px;
}
/*menu*/
.menu_bg{
	height:100%;overflow:hidden !important;border-top:4px solid #75CB73;
}
.main_nav{
	background:#F0F0F0;margin:0;padding-left:8px;border:1px solid #ccc;
}
.main_nav li{
	border-right:1px solid #ccc;float:left;width:98px;height:22px;text-align:center;margin:0;line-height:22px;
}
.svcart-skin-g00 .yuimenubaritem-selected{
	background:#369557;
}
.svcart-skin-g00 .yuimenubaritem-selected a.svcartmenubaritemlabel{color:#fff}
.svcart-skin-g00 .yuimenuitem{
	border-bottom:solid 1px #D8D8D8; background:#F0F0F0; font-weight:normal;height:24px; line-height:24px;*margin-top:px;/*opacity:.8;*filter:alpha(opacity=80);*/
}
.svcart-skin-g00 .yuimenuitem-selected{
	background:#37844D;
}
.svcart-skin-g00 .yuimenuitem-selected a{
	color:#fff;
}
/*============ ur_here ================*/
#ur_here{
	padding:10px 25px 10px 12px;
}
/*============ Footer ================*/
#footer{
	bottom:30px;margin:5px auto 0;min-width:1000px;width:expression((documentElement.clientWidth < 1000) ? "1000px" : "100%" );
}
#footer p{
	text-align:center; font-family:Arial;color:#337E4B;padding:2px 0;
}
#footer p a{color:#337E4B;}
#footer p a:hover{ text-decoration:underline;}
#footer p.pwoered a{margin-left:5px;}
/*颜色选择器*/
#button-container {

	padding: .5em;

}

#color-picker-button {

	vertical-align: baseline;

}

#color-picker-button button {

	outline: none;  /* Safari */
	line-height: 1.5;

}


/*
	Style the Button instance's label as a square whose background color 
	represents the current value of the ColorPicker instance.
*/

#current-color {

	display: block;
	display: inline-block;
	*display: block;    /* For IE */
	margin-top: .5em;
	*margin: .25em 0;    /* For IE */
	width: 1em;
	height: 1em;
	overflow: hidden;
	text-indent: 1em;
	background-color: #fff;
	white-space: nowrap;
	border: solid 1px #000;

}


/* Hide default colors for the ColorPicker instance. */

#color-picker-container .yui-picker-controls,
#color-picker-container .yui-picker-swatch,
#color-picker-container .yui-picker-websafe-swatch {

	display: none;

}

.msg{
	padding-top:4px;
}
/*
	Size the body element of the Menu instance to match the dimensions of 
	the ColorPicker instance.
*/
		
#color-picker-menu .bd {

	width: 220px;    
	height: 190px;

}

#photo {

	background: #fff url(.. tton/assets bridge.png) top left no-repeat;
	
	/*
		Hide the alpha PNG from IE 6 and make the background image transparent via the use of 
		the AlphaImageLoader that is applied by the filter property.
	*/

	_background-image: none;
	border: solid 1px #000;
	width: 400px;
	height: 300px;
	
	_width: 398px;	/* For IE 6 */
	_height: 298px;	/* For IE 6 */

}

#button-container {
	padding:0;
	margin-top: .5em;

}
.list_head{
	padding-left:10px;
}
.list_data{
	background:#FFFFFF;
}
.list_data .thead{
	background:#E3E3DF url('../img/thead.gif') 0 0 repeat-x;
}
.list_data th{
	height:35px;border-right:1px solid #F8F8F7;padding:0 5px;
}
.list_data td{
	border-right:1px solid #EEF8F9;border-bottom:1px solid #EEF8F9;padding:8px;
}
.list_data .no_wrap{
	white-space:nowrap;
}
.list_data .next_cat{
	padding-left:20px;
}
.list_data .no_border{
	border-right:none;
}
.list_data .order_num{
	letter-spacing:2px;
}
.list_data .order_num a{
	text-decoration:underline;
}
* html .editmember .box dl dt{padding-top:9px;}

.order_view th{
	padding:5px 0;white-space:nowrap
}
.order_view,.consignee{color:#1C292F;}
.order_view td{
	border-bottom:1px solid #ccc;padding:5px 0;
}
.order_view th.description{
	padding-left:30px;padding-right:20px;
}
.consignee th{
	border-bottom:1px solid #ccc;padding:5px 0;white-space:nowrap;
}
.consignee td{
	border-bottom:1px solid #ccc;padding:5px 0;
}
.tr_head th{
	padding-top:5px;padding-bottom:10px;
}
.google_shortcut .close{
	background:url('../img/close_img.png') 0 0 no-repeat;position:absolute;right:0;top:0;width:30px;height:23px;font-size:85%;line-height:30px;overflow:hidden;z-index:88989898989;zoom:1;
}
.google_shortcut .close:hover{background:url('../img/close_img_over.png') 0 0 no-repeat;}