@import url(layout.css); /*布局*/
@import url(admin.css); /*模块部分*/
@import url(menu.css); /*Header Menu*/
@import url(calendar.css);
@import url(container.css);
@import url(treeview.css);
@import url(image.css);
@import url(swfupload.css);
@import url(fonts-min.css);
@import url(tabview.css);

body {
	font-size: 12px; margin: 0 auto;position:relative;

}
img{
	border:0px;
}
ul {
	padding: 0px; display: block; font-weight: normal; font-size: 12px;margin: 0px; border-style: none;  list-style-type: none;
}
li {
	padding:0px; display: block;font-weight: normal; font-size: 12px; margin:0px; border-style: none;   list-style-type: none;
}
dl {
	padding-right: 0px; display: block; padding-left: 0px; font-weight: normal; font-size: 12px;padding-bottom: 0px; margin: 0px; border-top-style: none; padding-top: 0px; border-right-style: none; border-left-style: none; list-style-type: none; border-bottom-style: none
}
dt {
	padding-right: 0px; display: block; padding-left: 0px; font-weight: normal; font-size: 12px; float: left; padding-bottom: 0px; margin: 0px; border-top-style: none; padding-top: 0px; border-right-style: none; border-left-style: none; list-style-type: none; border-bottom-style: none
}
dd {
	padding-right: 0px; display: block; padding-left: 0px; font-weight: normal; font-size: 12px; float: left; padding-bottom: 0px; margin: 0px; border-top-style: none; padding-top: 0px; border-right-style: none; border-left-style: none; list-style-type: none; border-bottom-style: none
}
h1,h2,h3,h4,h5,h6,form{
	padding: 0px;margin: 0px;
}

p {
	padding-right: 0px; display: block; padding-left: 0px; font-size: 12px; padding-bottom: 0px; margin: 0px; border-top-style: none; padding-top: 0px; border-right-style: none; border-left-style: none; list-style-type: none; border-bottom-style: none
}
a{
	text-decoration:none;color:#333333;
}
select{border:1px solid #699F7D;}
input{font-size:100%}
 img, div, input,h1,span{ behavior: url("/sv-admin/css/iepngfix.htc") }
.pointer{cursor:pointer;font-size:12px;}
.radio{vertical-align:middle;margin:0 4px 0 0;}
.no_border_input{vertical-align:middle;border:0;margin:0 0 0 0;}
.green_2{color:#216339;}
.text_input{border:1px solid #78828D;}
.green_border{border:1px solid #659B77;}
.border_green_6{border:1px solid #699F7D;}