/*=========================header==========================*/
#container{
  width: 951px; margin: 0 auto; overflow:hidden;position:relative;
}
#header{
	background:#fff;width:950px;margin:0 auto;border-bottom:5px solid #40A564;margin-bottom:10px;min-height:74px;height:100%;
}

#footer{
	width:950px;padding:15px 0 3px;background:#fff;color:#B4B4B4;margin:40px auto 0;border-top:5px solid #4DAB6E;clear:both;
}
#footer p{
	text-align:center;
}
#footer .link{
	line-height:30px;color:#004B1C;
}
#footer .link a{
	margin:8px;color:#004B1C;
}
#footer .Power{line-height:20px;}
#footer .Power a{color:#B4B4B4;}
#footer .Power .number{margin-left:10px;}
#footer .copyRight font{
	margin-right:4px;
}
#Left{
	float:left;margin-left:10px;display:inline;
}
#Right{
	margin-right:10px;float:right;display:inline;width:741px;
}
.clear_all{position:absolute;right:-20px;top:2px;font-size:12px;}

h1.headers{padding:5px 0 0 27px;color:#fff;background:url(../img/headers.png) 0 -36px repeat-x;height:31px;position:relative;margin:0 30px;}
h1.headers span.l{width:41px;height:36px;background:url(../img/headers.png) 0 0 no-repeat;position:absolute;left:-30px;top:0;}
h1.headers span.r{
	width:41px;height:36px;background:url(../img/headers.png) 100% -72px no-repeat;position:absolute;right:-30px;top:0;z-index:-1
}
h1.headers b{
	font-size:15px;line-height:28px;
}

.not{text-align:center;font-size:14px;color:#008833;}
.not strong{font-weight:bold}
.not img{vertical-align:middle;margin:-5px 15px 0 0;}
